<template>
    <div>
        <h2>{{ title }}</h2>
        <el-button type="warning" size="small" @click="$router.go(-1)">Kembali</el-button>
        <el-row align="center" class="margin-top-20">
            <el-row class="space-arround-20" type="flex" align="middle" style="background: rgba(225, 225, 225, .45)" :gutter="15">
                <el-col :span="2">No</el-col>
                <el-col :span="5">Nama Barang</el-col>
                <el-col :span="4">Harga</el-col>
                <el-col :span="4">Satuan</el-col>
                <el-col :span="4">QTY</el-col>
                <el-col :span="4">Total</el-col>
            </el-row>
            <el-row class="space-arround-20 detail-item" v-for="(detail, index) in purchase.details" :key="detail.id" align="middle" type="flex" :gutter="15">
                <el-col :span="2">{{ detail.id }}</el-col>
                <el-col :span="5">
                    <el-select v-model="detail.item_id" @change="onItemSelected($event, detail, index)" filterable>
                        <el-option :value="0" label="Pilih Barang"></el-option>
                        <el-option v-for="item in items" :key="item.id" :value="item.id" :label="item.name" :disabled="item.disabled"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="4">
                    {{ detail.purchase_price | currency_format }}
                </el-col>
                <el-col :span="4">
                    {{ detail.qty_type }}
                </el-col>
                <el-col :span="4">
                    <el-input v-model="detail.qty" @input="onQtyChanged(detail)" @keydown.native.tab="addNewDetail(index)" type="number" :min="1"></el-input>
                </el-col>
                <el-col :span="4">
                    {{ detail.total | currency_format }}
                </el-col>
                <el-col :span="2">
                    <el-button-group>

                        <el-tooltip v-if="isLatestDetail(detail.id)" effect="dark" content="Tambah entry barang" placement="bottom">
                            <el-button @click="addNewDetail(index)" type="default" icon="el-icon-plus" size="small"></el-button>
                        </el-tooltip>

                        <el-tooltip v-if="purchase.details.length > 1" effect="dark" content="Hapus entry barang" placement="bottom">
                            <el-button @click="removeDetail(detail.id)" type="danger" icon="el-icon-minus" size="small"></el-button>
                        </el-tooltip>
                    </el-button-group>
                </el-col>
            </el-row>
            <el-row class="space-arround-20 margin-bottom-20" style="background: rgba(225, 225, 225, .45)" type="flex" :gutter="15">
                <el-col :span="2" :offset="14">Subtotal</el-col>
                <el-col :span="6"><b>{{ subtotal | currency_format }}</b></el-col>
            </el-row>
            <el-row type="flex" justify="end" class="margin-bottom-20">
                <el-button type="primary" size="small" @click="onSubmit">Simpan Pembelian</el-button>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { createPurchase, getPurchase, updatePurchase } from '../../../../model/purchase';
import { getItem } from '../../../../model/item';

export default {
    props: {
        action: {
            type: String,
            default: 'create'
        }
    },
    computed: {
        isProcessing() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        },
        subtotal() {
            let total = 0;
            this.purchase.details.forEach((item) => {
                total += item.total;
            });

            return total;
        }
    },
    methods: {
        create(back = false) {
            
            if (this.subtotal === 0) {
                this.$message({
                    message: 'Daftar entry barang masih kosong',
                    type: 'error'
                });
                return;
            }

            createPurchase(this.$store.getters.projectPurchaseUrl(this.$route.params.id), this.$store.state.auth.token, this.purchase).then((response) => {

                this.$store.commit('processed');
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                this.$router.go(-1);

                this.setDelay(150).then(() => {
                    this.$store.dispatch('refreshProject', this.$route.params.id);
                });

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        onSubmit() {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            if (this.action === 'edit') {
                this.update();
            } else {
                this.create();
            }
        },
        isLatestDetail(id) {
            if (this.purchase.details.length === id) {
                return true;
            }

            return false;
        },
        removeDetail(id) {
            this.purchase.details.splice(id-1, 1);
            this.disabledItems.splice(id-1, 1);

            this.purchase.details.forEach((item, index) => {
                item.id = index + 1;
            });
        },
        addNewDetail(index) {
            this.purchase.details.push({
                id: (this.purchase.details.length === 0) ? 1 : this.purchase.details.length + 1,
                item_id: 0,
                purchase_price: 0,
                sell_price: 0,
                qty_type: '-',
                qty: 1,
                total: 0
            });
            
        },
        onItemSelected(event, detail, index) {
            
            let data = this.items.find((item) => item.id === event);
            

            detail.purchase_price = data.purchase_price;
            detail.total = detail.purchase_price * detail.qty;
            detail.qty_type = data.qty_type;

            if (this.items.indexOf(data.id) === -1) {
                this.disabledItems[index] = data.id;
                this.refreshDisabled();
            }
        },
        onQtyChanged(detail) {
            detail.total = detail.purchase_price * detail.qty;
        },
        refreshDisabled() {
            this.items.forEach((item) => {
                if (this.disabledItems.indexOf(item.id) > -1) {
                    item.disabled = true;
                } else {
                    item.disabled = false;
                }
            });
        }
    },
    data() {
        return {
            permissions: [],
            title: 'Tambah Pembelian',
            purchase: {
                total: 0,
                total_paid: 0,
                date: this.now(),
                status: 0,
                details: [
                    {
                        id: 1,
                        item_id: 0,
                        purchase_price: 0,
                        qty: 1,
                        qty_type: '-',
                        total: 0
                    }
                ]
            },
            items: [],
            disabledItems: []
        }
    },
    
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Pembelian');
            getItem(`${this.$store.getters.itemUrl}?all=true&in_purchase_entry=false&project_id=${this.$route.params.id}`, this.$store.state.auth.token).then((response) => {
                    this.items.push(...response.data);
                }).catch((error) => {
                    this.errorMessage(error);
                })

            if (this.action === 'edit') {
                this.title = 'Edit Pembelian';
                getPurchase(`${this.$store.getters.purchaseUrl(this.$route.params.purchaseId)}?include=details`, this.$store.state.auth.token)
                .then((response) => {
                    
                    this.purchase.code = response.data.purchase_no;
                    this.purchase.total = response.data.total;
                    this.purchase.total_paid = response.data.total_paid;
                    this.purchase.date = response.data.date;
                    this.purchase.status = response.data.status;

                    this.purchase.details = response.data.details.data;

                    this.purchase.details.forEach((item, index) => {
                        item.no = index+1;
                    });
                });
            }
        })
    }
}
</script>

<style lang="css" scoped>
.detail-item {
    border-bottom: 1px solid rgba(222, 222, 222, .3);
}

.detail-item:last-child {
    border: none;
}
</style>