<template>
    <div>
        <h2>{{ title }}</h2>
        <el-button type="warning" size="small" @click="$router.go(-1)">Kembali</el-button>
        <el-row align="center" class="margin-top-20">
            <el-form v-model="form" inline>
                <el-form-item label="Tanggal">
                    <el-date-picker v-model="form.date" value-format="yyyy-MM-dd" format="dd MMMM yyyy"></el-date-picker>
                </el-form-item>
                <el-form-item label="Total Bayar">
                    <el-input v-model="form.total" type="number"></el-input>
                </el-form-item>
                <el-form-item label="Sisa Pembayaran">
                    <strong>{{ remainPayment | currency_format }}</strong>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" size="small" :loading="isProcessing" @click="onSubmit">Simpan Pembayaran</el-button>
                </el-form-item>
            </el-form>
        </el-row>
    </div>
</template>

<script>
import { createPayment, getPayment, updatePayment } from '../../../model/payment';

export default {
    props: {
        action: {
            type: String,
            default: ''
        }
    },
    computed: {
        isProcessing() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        },
        remainPayment() {
            return (this.$store.state.meta.purchase.total - this.$store.state.meta.purchase.total_paid) - this.form.total;
        },
        purchase() {
            return this.$store.state.meta.purchase;
        },
        project() {
            return this.$store.state.meta.project;
        }
    },
    methods: {
        create(back = false) {
            createPayment(this.$store.getters.purchasePurchasePaymentUrl(this.purchase.id), this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.clearForm(this.form);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });

                    this.setDelay(150).then(() => {
                    this.$store.dispatch('refreshPurchase', this.purchase.id).then((response) => {
                        this.$store.commit('setPurchaseMeta', response.data);
                        this.$store.dispatch('refreshProject', this.project.id);
                        });
                    });
                });

                this.$router.go(-1);

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        update() {
            updatePayment(`${this.$store.getters.purchasePaymentUrl(this.$route.params.purchasePaymentId)}`, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });

                    this.setDelay(150).then(() => {
                    this.$store.dispatch('refreshPurchase', this.purchase.id).then((response) => {
                        this.$store.commit('setPurchaseMeta', response.data);
                        this.$store.dispatch('refreshProject', this.project.id);
                        });
                    });
                });

                this.$router.go(-1);

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        onSubmit(back = false) {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            if (this.action === 'edit') {
                this.update(back);
            } else {
                this.create(back);
            }
        }
    },
    data() {
        return {
            permissions: [],
            title: 'Tambah Pembayaran',
            form: {
                total: 0,
                purchase_id: 0,
                date: this.now()
            }
        }
    },
    watch: {
        'form.total': {
            deep: true,
            handler(val) {
                const remain = this.purchase.total - this.purchase.total_paid;

                if (val > 0 && val > remain) {
                    this.form.total = remain;
                }
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Pembayaran');
            this.form.purchase_id = this.$store.state.meta.purchase.id;
            

            if (this.action === 'edit') {
                this.title = 'Edit Pembayaran';
                getPayment(`${this.$store.getters.purchasePaymentUrl(this.$route.params.purchasePaymentId)}`, this.$store.state.auth.token)
                .then((response) => {
                    
                    this.fillForm(this.form, response.data);
                    this.$store.commit('subPurchaseTotalPaid', this.form.total);
                });
            }
        })
    },
    beforeRouteLeave(from, to, next) {
        if (this.action == 'edit') {
            this.$store.commit('addProjectTotalPaid', this.form.total);
        }

        next();
    }
}
</script>

<style lang="css" scoped>
.detail-item {
    border-bottom: 1px solid rgba(222, 222, 222, .3);
}

.detail-item:last-child {
    border: none;
}
</style>