<template>
    <div>
        <h2>List Role</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item>List Role</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="main-wrapper space-arround-25">
            <el-row type="flex" align="middle" class="space-bottom-15">
                <el-col :span="4">
                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="pageTo('admin.role.create')">Tambah Role</el-button>
                </el-col>
                <el-col :span="3" :offset="4">
                    <label style="display: inline-block" for="">Jumlah Tampil </label>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="meta.show">
                        <el-option v-for="(data, key) in dataShow" :key="key" :label="data" :value="data"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="6" :offset="6">
                    <form @submit.prevent="getRoles">
                        <el-input type="text" placeholder="Cari role...." v-model="meta.s" suffix-icon="el-icon-search"></el-input>
                    </form>
                </el-col>
            </el-row>
            <el-row>
                <el-table
                    :data="roles"
                    v-loading="loading"
                    stripe
                    border
                    :cell-style="styles"
                >
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="Nama" prop="name" sortable></el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-button v-if="meta.trashed === 1" type="default" size="small" icon="el-icon-refresh-left" @click="onAction(scope.row, 'restore')">Restore</el-button>
                            <el-button v-if="meta.trashed === 0" type="default" size="small" icon="el-icon-edit" @click="onAction(scope.row, 'edit')">Edit</el-button>
                            <el-button type="danger" size="small" icon="el-icon-delete" @click="onAction(scope.row, 'delete')">Delete</el-button>
                        </el-button-group>
                    </template>
                </el-table-column>

                </el-table>
            </el-row>
            <el-row type="flex" justify="end" class="space-arround-25">
                <el-pagination
                    layout="prev, pager, next"
                    :total="meta.pagination.total"
                    :page-size="meta.pagination.per_page"
                    :current-page="meta.pagination.current_page"
                    @current-change="onPageChanged">
                </el-pagination>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { fetchRole, getRole, deleteRole, restoreRole } from '../../model/role';
export default {
    data() {
        return {
            meta: {
                s: '',
                show: 10,
                page: 1,
                trashed: 0,
                pagination: {
                    total: 1,
                    total_pages: 1,
                    current_page: 1
                }
            },
            total: 0,
            styles: {
                textDecoration: ''
            },
            trashCount: 0,
            roles: [],
            role: {}
        }
    },
    methods: {
        onPageChanged(page) {
            this.meta.page = page;
            this.getRoles();
        },
        getRoles() {
            this.$store.commit('loading');
            if (this.roles.length > 0) {
                this.roles = [];
            }
            fetchRole(this.$store.getters.roleUrl, this.$store.state.auth.token, this.meta)
            .then((response) => {
                this.roles.push(...response.data);
                if (this.meta.trashed === 0) {
                    this.total = response.meta.pagination.total;
                }

                this.meta.pagination = response.meta.pagination;

                if (this.meta.trashed === 0 && this.meta.page === 1) {
                    this.trashCount = response.meta.trash_count;
                }

                this.$store.commit('loaded');
            })
            .catch((error) => {
                this.$store.commit('loaded');
                if (error.response.status == 401) {
                    logoutRole();
                } else {
                    this.errorMessage(error);
                }
            });
        },
        showAll() {
            this.meta.trashed = 0;
            this.getRoles();
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getRoles();
            }
        },
        restore() {
            this.confirmBox('Restore role ini?')
            .then(() => {
                restoreRole(`${this.$store.getters.roleUrl}/${this.role.id}/restore`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.role = {}
                    this.getRoles();
                })
                .catch((error) => {
                    this.errorMessage(error)
                });
            })
        },
        delete() {
            this.confirmBox().then(() => {
                deleteRole(`${this.$store.getters.roleUrl}/${this.role.id}`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.role = {};
                    this.getRoles();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        forceDelete() {
            this.confirmBox('Data ini akan dihapus secara permanent, lanjutkan?').then(() => {
                deleteRole(`${this.$store.getters.roleUrl}/${this.role.id}/force-delete`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.role = {};
                    this.getRoles();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        onAction(data, action) {
            this.role = data;

            if (action === 'delete') {
                if (this.meta.trashed === 0) {
                    this.delete();
                } else {
                    this.forceDelete();
                }
            } else if(action === 'restore') {
                this.restore();
            } else if(action === 'edit') {
                this.pageTo('admin.role.edit', { id: this.role.id});
            }
        },
        clearTrash() {
            this.confirmBox('Hapus semua sampah?').then(() => {
                deleteRole(`${this.$store.getters.roleUrl}/trash/clear`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.getRoles();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        }
    },
    watch: {
        'meta.show': {
            handler() {
                this.getRoles();
            },
            deep: true
        },
        'meta.trashed': {
            handler(val) {
                if (val === 1) {
                    this.styles.textDecoration = 'line-through'
                } else {
                    this.styles.textDecoration = '';
                }
            }
        }
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Role');
            this.getRoles();
        });
    }
}
</script>