<template>
    <div>
        <h2>{{ title }}</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item :to="{ name: 'admin.role' }">List Role</el-breadcrumb-item>
            <el-breadcrumb-item>{{ title }}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="form-wrapper space-arround-25" style="width: 450px">
            <el-form v-model="form">
                <el-row :gutter="15">
                    <el-col :span="24">
                        <el-form-item label="Nama" :error="(errors.name) ? errors.name[0] : null">
                            <el-input type="text" ref="name" :autofocus="true" v-model="form.name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="Permission" :error="(errors.email) ? errors.email[0] : null"><br>
                            <el-select v-model="form.permission_ids" filterable multiple class="d-block">
                                <el-option v-for="permission in permissions" :key="permission.id" :value="permission.id" :label="permission.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15" type="flex" justify="end">
                    <el-button type="default" size="small" :loading="isProcessing" @click="onSubmit(true)">Simpan & Kembali</el-button>
                    <el-button type="primary" size="small" :loading="isProcessing" native-type="submit" @click.prevent="onSubmit">Simpan</el-button>
                </el-row>
                
            </el-form>
        </el-row>
    </div>
</template>

<script>
import { createRole, getRole, updateRole } from '../../model/role';
import { fetchAllPermission } from '../../model/permission';

export default {
    props: {
        action: {
            type: String,
            default: ''
        }
    },
    computed: {
        isProcessing() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        }
    },
    methods: {
        create(back = false) {
            createRole(this.$store.getters.roleUrl, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.clearForm(this.form);
                this.setFocus(this.$refs.name);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.role');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        update(back = false) {
            updateRole(`${this.$store.getters.roleUrl}/${this.$route.params.id}`, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.setFocus(this.$refs.name);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.role');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        onSubmit(back = false) {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            if (this.action === 'edit') {
                this.update(back);
            } else {
                this.create(back);
            }
        }
    },
    data() {
        return {
            permissions: [],
            title: 'Create Role',
            form: {
                name: '',
                permission_ids: []
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Role');
            this.setFocus(this.$refs.name);
            fetchAllPermission(this.$store.getters.permissionUrl, this.$store.state.auth.token).then((response) => {
                this.permissions.push(...response.data);
            });

            if (this.action === 'edit') {
                this.title = 'Edit Role';
                getRole(`${this.$store.getters.roleUrl}/${this.$route.params.id}`, this.$store.state.auth.token)
                .then((response) => {
                    
                    this.fillForm(this.form, response.data);

                    if (response.data.permissions.data.length > 0) {
                        this.form.permission_ids = response.data.permissions.data.map((item) => item.id);
                    }
                });
            }
        })
    }
}
</script>