@for $i from 1 to 50 {
    .space-bottom-#{$i} {
        padding-bottom: $i+px+!important
    }

    .space-top-#{$i} {
        padding-top: $i+px+!important
    }

    .space-arround-#{$i} {
        padding: $i+px+!important
    }
}

@for $i from 1 to 50 {
    .margin-bottom-#{$i} {
        margin-bottom: $i+px+!important
    }

    .margin-top-#{$i} {
        margin-top: $i+px+!important
    }
}

.has-shadow {
    box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: 0.12);
}

.d-block {
    display: block!important;
}