@import 'https://fonts.googleapis.com/css?family=Lato:400,700&display=swap';
@import '../../node_modules/element-ui/lib/theme-chalk/index.css';

@import 'variables';
@import 'util';

body {
    font-family: 'Lato', sans-serif;
    background-color: #efefef;
    margin: 0;
}

.main-wrapper {
    border-radius: 4px;
    padding: 15px;
    background-color: $primary-wrapper;
}

.form-wrapper {
    @extend .main-wrapper;
    max-width: 900px;
}

@keyframes skeleton-slide {
    from {
        transform: translateX(-100%);
        opacity: 1;
    }

    to {
        transform: translateX(250%);
        opacity: .15;
    }
}

.page-wrapper {
    display: block;
    overflow: hidden;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-enter-active {
    animation: fade 1s;
}

.fade-leave-active {
    animation: fade .08s reverse;
}

.slide-enter-active, 
.slide-leave-active,
.slide-reverse-enter-active,
.slide-reverse-leave-active {
    transition: all .28s ease;
}

.slide-enter, .slide-reverse-leave-to {
    transform: translateX(3rem);
    opacity: 0;
}

.slide-enter-to, .slide-reverse-enter-to {
    transform: translateX(0);
    opacity: 1;
}

.slide-leave-to, .slide-reverse-enter {
    transform: translateX(-3rem);
    opacity: 0;
}

.entry-value {
    .skeleton {
        margin-bottom: -5px;
        max-width: 300px;
    }
}

span.entry-value {
    display: block;
    margin-left: 0px!important;
    margin-top: 5px;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}