<template>
    <div>
        <h2>{{ title }}</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item :to="{ name: 'admin.item' }">List Barang</el-breadcrumb-item>
            <el-breadcrumb-item>{{ title }}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="form-wrapper space-arround-25" style="width: 600px">
            <el-form v-model="form">
                <el-row :gutter="15">
                    <el-col :span="24">
                        <el-form-item label="Nama Item" :error="(errors.name) ? errors.name[0] : null">
                            <el-input type="text" ref="name" :autofocus="true" v-model="form.name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Harga Jual" :error="(errors.sell_price) ? errors.sell_price[0] : null"><br>
                            <el-input type="number"  v-model="form.sell_price"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Harga Beli" :error="(errors.purchase_price) ? errors.purchase_price[0] : null"><br>
                            <el-input type="number"  v-model="form.purchase_price"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="12">
                        <el-form-item label="Tipe Satuan" :error="(errors.qty_type) ? errors.qty_type[0] : null">
                            <el-select style="width: 100%" v-model="form.qty_type">
                                <el-option value="PCS" label="PCS"></el-option>
                                <el-option value="UNIT" label="UNIT"></el-option>
                                <el-option value="CENTIMETER" label="CENTIMETER"></el-option>
                                <el-option value="METER" label="METER"></el-option>
                                <el-option value="SAK" label="SAK"></el-option>
                                <el-option value="BOX" label="BOX"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Supplier"><br>
                            <el-select style="width: 100%" v-model="form.supplier_id">
                                <el-option :value="0" label="Pilih Supplier"></el-option>
                                <el-option v-for="supplier in suppliers" :key="supplier.id" :value="supplier.id" :label="supplier.name"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="24">
                        <el-form-item label="Deskripsi" :error="(errors.description) ? errors.description[0] : null">
                            <el-input v-model="form.description" type="textarea"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15" type="flex" justify="end">
                    <el-button type="default" size="small" :loading="isProcessing" @click="onSubmit(true)">Simpan & Kembali</el-button>
                    <el-button type="primary" size="small" :loading="isProcessing" native-type="submit" @click.prevent="onSubmit">Simpan</el-button>
                </el-row>
                
            </el-form>
        </el-row>
    </div>
</template>

<script>
import { createItem, getItem, updateItem } from '../../model/item';
import { fetchAllSupplier } from '../../model/supplier';

export default {
    props: {
        action: {
            type: String,
            default: ''
        }
    },
    computed: {
        isProcessing() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        }
    },
    methods: {
        create(back = false) {
            createItem(this.$store.getters.itemUrl, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.clearForm(this.form);
                this.setFocus(this.$refs.name);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.item');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        update(back = false) {
            updateItem(`${this.$store.getters.itemUrl}/${this.$route.params.id}`, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.setFocus(this.$refs.name);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.item');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        onSubmit(back = false) {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            if (this.action === 'edit') {
                this.update(back);
            } else {
                this.create(back);
            }
        }
    },
    data() {
        return {
            permissions: [],
            title: 'Tambah Barang',
            suppliers: [],
            form: {
                name: '',
                sell_price: 0,
                purchase_price: 0,
                qty_type: '',
                description: '',
                supplier_id: 0
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.setFocus(this.$refs.name);
            fetchAllSupplier(this.$store.getters.supplierUrl, this.$store.state.auth.token)
            .then((response) => {
                this.suppliers.push(...response.data);
            });

            if (this.action === 'edit') {
                this.title = 'Edit Barang';
                getItem(`${this.$store.getters.itemUrl}/${this.$route.params.id}`, this.$store.state.auth.token)
                .then((response) => {
                    this.fillForm(this.form, response.data);
                });
            }
        })
    }
}
</script>