<template>
    <div>
        <h2>List User</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item>List User</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="main-wrapper space-arround-25">
            <el-row type="flex" align="middle" class="space-bottom-15">
                <el-col :span="4">
                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="pageTo('admin.user.create')">Tambah User</el-button>
                </el-col>
                <el-col :span="3" :offset="4">
                    <label style="display: inline-block" for="">Jumlah Tampil </label>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="meta.show">
                        <el-option v-for="(data, key) in dataShow" :key="key" :label="data" :value="data"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="6" :offset="6">
                    <form @submit.prevent="getUsers">
                        <el-input type="text" placeholder="Cari user...." v-model="meta.s" suffix-icon="el-icon-search"></el-input>
                    </form>
                </el-col>
            </el-row>
            <el-row>
                <el-table
                    :data="users"
                    v-loading="loading"
                    stripe
                    border
                    :cell-style="styles"
                >
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="Nama" prop="name" sortable></el-table-column>
                <el-table-column label="Email" prop="email" sortable></el-table-column>
                <el-table-column label="Role" prop="role.data.name"></el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-button v-if="meta.trashed === 1" type="default" size="small" icon="el-icon-refresh-left" @click="onAction(scope.row, 'restore')">Restore</el-button>
                            <el-button type="danger" size="small" icon="el-icon-delete" @click="onAction(scope.row, 'delete')">Delete</el-button>
                        </el-button-group>
                    </template>
                </el-table-column>

                </el-table>
            </el-row>
            <el-row type="flex" justify="end" class="space-arround-25">
                <el-pagination
                    layout="prev, pager, next"
                    :total="meta.pagination.total"
                    :page-size="meta.pagination.per_page"
                    :current-page="meta.pagination.current_page"
                    @current-change="onPageChanged">
                </el-pagination>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { fetchUser, getUser, deleteUser, restoreUser } from '../../model/user';
export default {
    data() {
        return {
            meta: {
                s: '',
                show: 10,
                page: 1,
                trashed: 0,
                pagination: {
                    total: 1,
                    total_pages: 1,
                    current_page: 1
                }
            },
            total: 0,
            styles: {
                textDecoration: ''
            },
            trashCount: 0,
            users: [],
            user: {}
        }
    },
    methods: {
        onPageChanged(page) {
            this.meta.page = page;
            this.getUsers();
        },
        getUsers() {
            this.$store.commit('loading');
            if (this.users.length > 0) {
                this.users = [];
            }
            fetchUser(this.$store.getters.userUrl, this.$store.state.auth.token, this.meta)
            .then((response) => {
                this.users.push(...response.data);
                if (this.meta.trashed === 0) {
                    this.total = response.meta.pagination.total;
                }

                this.meta.pagination = response.meta.pagination;

                if (this.meta.trashed === 0 && this.meta.page === 1) {
                    this.trashCount = response.meta.trash_count;
                }
                this.$store.commit('loaded');
            })
            .catch((error) => {
                this.$store.commit('loaded');
                if (error.response.status == 401) {
                    logoutUser();
                } else {
                    this.errorMessage(error);
                }
            });
        },
        showAll() {
            this.meta.trashed = 0;
            this.getUsers();
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getUsers();
            }
        },
        restore() {
            this.confirmBox('Restore user ini?')
            .then(() => {
                restoreUser(`${this.$store.getters.userUrl}/${this.user.id}/restore`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.user = {}
                    this.getUsers();
                })
                .catch((error) => {
                    this.errorMessage(error)
                });
            })
        },
        delete() {
            this.confirmBox().then(() => {
                deleteUser(`${this.$store.getters.userUrl}/${this.user.id}`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.user = {};
                    this.getUsers();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        forceDelete() {
            this.confirmBox('Data ini akan dihapus secara permanent, lanjutkan?').then(() => {
                deleteUser(`${this.$store.getters.userUrl}/${this.user.id}/force-delete`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.user = {};
                    this.getUsers();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        onAction(data, action) {
            this.user = data;

            if (action === 'delete') {
                if (this.meta.trashed === 0) {
                    this.delete();
                } else {
                    this.forceDelete();
                }
            } else if(action === 'restore') {
                this.restore();
            }
        },
        clearTrash() {
            this.confirmBox('Hapus semua sampah?').then(() => {
                deleteUser(`${this.$store.getters.userUrl}/trash/clear`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.getUsers();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        }
    },
    watch: {
        'meta.show': {
            handler() {
                this.getUsers();
            },
            deep: true
        },
        'meta.trashed': {
            handler(val) {
                if (val === 1) {
                    this.styles.textDecoration = 'line-through'
                } else {
                    this.styles.textDecoration = '';
                }
            }
        }
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'User');
            this.getUsers();
        });
    }
}
</script>