<template>
    <div>
        <h2>Create User</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item :to="{ name: 'admin.user' }">List User</el-breadcrumb-item>
            <el-breadcrumb-item>Tambah User</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="form-wrapper space-arround-25">
            <el-form v-model="form">
                <el-row :gutter="15">
                    <el-col :span="12">
                        <el-form-item label="Nama" :error="(errors.name) ? errors.name[0] : null">
                            <el-input type="text" ref="name" :autofocus="true" v-model="form.name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Email" :error="(errors.email) ? errors.email[0] : null">
                            <el-input type="text" ref="email" v-model="form.email"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="12">
                        <el-form-item label="Password" :error="(errors.password) ? errors.password[0] : null">
                            <el-input type="password" v-model="form.password"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Konfirmasi Password">
                            <el-input type="password" v-model="form.password_confirmation"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="24">
                        <el-form-item label="Role" :error="(errors.role_id) ? errors.role_id[0] : null"><br>
                            <el-select v-model="form.role_id">
                                <el-option :value="0" label="Pilih Role"></el-option>
                                <el-option v-for="role in roles" :key="role.id" :value="role.id" :label="role.name | capitalize"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15" type="flex" justify="end">
                    <el-button type="default" size="small" :loading="isProcessing" @click="onSubmit(true)">Simpan & Kembali</el-button>
                    <el-button type="primary" size="small" :loading="isProcessing" native-type="submit" @click.prevent="onSubmit">Simpan</el-button>
                </el-row>
                
            </el-form>
        </el-row>
    </div>
</template>

<script>
import { createUser } from '../../model/user';
import { fetchAllRole } from '../../model/role';

export default {
    computed: {
        isProcessing() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        }
    },
    methods: {
        onSubmit(back = false) {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            createUser(this.$store.getters.userUrl, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.clearForm(this.form);
                this.setFocus(this.$refs.name);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.user');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            })
        }
    },
    data() {
        return {
            roles: [],
            form: {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                role_id: ''
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'User');
            this.setFocus(this.$refs.name);
            fetchAllRole(this.$store.getters.roleUrl, this.$store.state.auth.token).then((response) => {
                this.roles.push(...response.data);
            })
        })
    }
}
</script>