<template>
    <el-container class="container">
        <el-aside>
            
        <el-menu
            default-active="1"
            :default-openeds="[]"
            class="el-menu-vertical-demo"
            background-color="#454545"
            text-color="#fcfcfc">

            <el-menu-item index="1" @click="pageTo('admin.dashboard')">
                <i class="el-icon-odometer"></i>
                <span>Dashboard</span>
            </el-menu-item>
            <el-menu-item v-if="can('list item')" index="2" @click="pageTo('admin.item')">
                <i class="el-icon-document-copy"></i>
                <span>Barang</span>
            </el-menu-item>
            <el-menu-item v-if="can('list customer')" index="3" @click="pageTo('admin.customer')">
                <i class="el-icon-user"></i>
                <span>Customer</span>
            </el-menu-item>
            <el-menu-item v-if="can('list supplier')" index="4" @click="pageTo('admin.supplier')">
                <i class="el-icon-user"></i>
                <span>Supplier</span>
            </el-menu-item>
            <el-menu-item v-if="can('list project')" index="5" @click="pageTo('admin.project')">
                <i class="el-icon-tickets"></i>
                <span>Proyek</span>
            </el-menu-item>
            <el-submenu index="1" v-if="can('view report')">
                <template slot="title"><i class="el-icon-s-marketing"></i> Report</template>

                <el-menu-item-group>
                    <el-menu-item index="1-1" @click="pageTo('admin.project.report')">Proyek</el-menu-item>
                    <el-menu-item index="1-2" @click="pageTo('admin.purchase.report')">Pembelian</el-menu-item>
                    <el-menu-item index="1-3" @click="pageTo('admin.payment.report')">Pembayaran</el-menu-item>
                </el-menu-item-group>

            </el-submenu>
            <el-submenu index="2" v-if="can('list role') || can('list user')">
                <template slot="title"><i class="el-icon-user"></i> Master User</template>

                <el-menu-item-group>
                    <el-menu-item v-if="can('list user')" index="1-1" @click="pageTo('admin.user')">User</el-menu-item>
                    <el-menu-item v-if="can('list role')" index="1-2" @click="pageTo('admin.role')">Role</el-menu-item>
                </el-menu-item-group>

            </el-submenu>
        </el-menu>

        </el-aside>
        <el-container>
            <el-header class="space-left-25 space-right-25 main-header">
                <el-row type="flex" style="margin-right: auto">
                    <h2>{{ pageTitle }}</h2>
                </el-row>
                <el-row type="flex" align="middle">
                    <span class="header-item">
                        <el-dropdown>
                            <i class="el-icon-user"></i>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>
                                    <span @click="showDialog">
                                        <i class="el-icon-lock"></i> Ubah Password
                                    </span>
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <span @click.prevent="logout">
                                        <i class="el-icon-switch-button"></i> Logout
                                    </span>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                            {{ (user.name) ? user.name : '' }}
                        </el-dropdown>
                    </span>
                </el-row>
            </el-header>

            <div class="space-arround-15 page-wrapper">
                <transition :name="transition" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
            
        </el-container>

        <el-dialog
        title="Reset Password"
        :visible.sync="isDialog"
        width="30%"
        :before-close="handleClose">
            
            <el-form v-model="form">
                <el-form-item label="Password" :error="(errors.password) ? errors.password[0]:''">
                    <el-input type="password" ref="pass" v-model="form.password"></el-input>
                </el-form-item>
                <el-form-item label="Password Baru" :error="(errors.new_password) ? errors.new_password[0]:''">
                    <el-input type="password" v-model="form.new_password"></el-input>
                </el-form-item>
                <el-form-item label="Ketik Ulang Password Baru" :error="(errors.new_password) ? errors.new_password[0]:''">
                    <el-input type="password" v-model="form.new_password_confirmation"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button :loading="isProcessing" type="primary" size="small" native-type="submit" @click.prevent="resetPassword">Kirim</el-button>
                </el-form-item>
            </el-form>

        </el-dialog>
    </el-container>
</template>

<script>
export default {
    data() {
        return {
            transition: 'slide',
            form: {
                email: '',
                password: '',
                new_password: '',
                new_password_confirmation: ''
            }
        }
    },
    methods: {
        logout() {
            this.$store.dispatch('logout')
                .then((response) => {
                    
                    this.logoutUser();
                    
                    this.$message({
                        type: 'success',
                        message: response.message
                    });
                })
                .catch((error) => {
                    this.$message({
                        type: 'error',
                        message: error.response.data.message
                    });
                })
        },

        showDialog() {
            this.$store.commit('showPasswordDialog');
        },

        can(action) {
            return this.hasPermission(action);
        },

        handleClose(done) {
            this.$store.commit('hidePasswordDialog');
            done();
        },

        resetPassword() {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            this.form.email = this.$store.state.auth.loggedinUser.email;

            axios.post(this.$store.getters.resetPasswordUrl, this.form, {
                headers: this.$store.getters.authHeader
            })
            .then((response) => {
                this.$message({
                    message: response.data.message,
                    type: 'success'
                });

                this.$store.commit('hidePasswordDialog');
                this.$store.commit('processed');
                this.clearForm(this.form);

            }).catch((error) => {
                if (error.response.status == 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }
                this.errorMessage(error);
                this.$store.commit('processed');
            })
        }

    },
    computed: {
        user() {
            return this.$store.state.auth.loggedinUser;
        },
        pageTitle() {
            return this.$store.state.pageTitle;
        },
        isDialog() {
            return this.$store.state.passwordResetDialog;
        },
        errors() {
            return this.$store.state.errors;
        },
        isProcessing() {
            return this.$store.state.buttonState;
        }
    },
    mounted() {
        
        this.$router.beforeEach((to, from, next) => {
            let toCount = to.path.split('/').length;
            let fromCount = from.path.split('/').length;            

            if (fromCount > toCount) {
                this.transition = 'slide-reverse';
            } else {
                this.transition = 'slide';
            }

            next();
        });

        this.$nextTick(() => {
            this.getAuthProfile();
        });
    }
}
</script>
<style lang="scss" scoped>
.main-header {
    display: flex;
    justify-content: flex-end;
}
.header-item i {
    cursor: pointer;
}
header {
    background: #fff;
    box-shadow: 0px 5px 13px rgba(#353535, .2);
}
aside ul {
    height: 100%;
}
.container {
    min-height: 100vh;
}
</style>