<template>
<div>
    <h2>Dashboard {{ role.name | capitalize }}</h2>

    <el-row :gutter="15" type="flex" justify="center" align="middle">
        <exsecutive-dashboard v-if="role.name === 'eksekutif'"></exsecutive-dashboard>
        <staf-dashboard v-if="role.name === 'staf'"></staf-dashboard>
        <admin-dashboard v-if="role.name === 'admin'"></admin-dashboard>
    </el-row>
</div>
</template>

<script>
import ExsecutiveDashboard from '../components/dashboards/Exsecutive.vue';
import StafDashboard from '../components/dashboards/Staf.vue';
import AdminDashboard from '../components/dashboards/Admin.vue';

export default {
    components: {
        ExsecutiveDashboard,
        StafDashboard,
        AdminDashboard
    },
    computed: {
        role() {
            return this.$store.state.auth.loggedinUser.role.data;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Dashboard');
        });
    }
}
</script>