<template>
<div>
    <el-row type="flex" justify="center" align="center" class="logo-row">
        <el-col :span="6" class="flex align-items-center">
            <img src="/images/logo-marga.png" alt="Logo Marga" class="main-logo">
        </el-col>
    </el-row>
    <el-row type="flex" justify="center" align="middle" class="login-row">
        <el-col :span="6" class="has-shadow main-wrapper">

            <div class="login-header">
                <h3>Sistem Informasi Eksekutif</h3>
            </div>
            
            <el-form>
                <div>
                    <el-row>
                        <el-col :span="24">
                            <el-form-item label="Email" :error="(errors.email) ? errors.email[0] : null">
                                <el-input v-model="credentials.email" auto-complete="on" suffix-icon="el-icon-user" type="text" id="Username" placeholder="Fill your username"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>

                <div>
                    <el-row>
                        <el-col :span="24">
                            <el-form-item label="Password" :error="(errors.password) ? errors.password[0] : null">
                                <el-input v-model="credentials.password" suffix-icon="el-icon-key" type="password" id="Password" placeholder="Fill your password"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>

                <el-row type="flex" justify="end">
                    <el-button @click="authenticate" native-type="submit" type="primary" size="md" :loading="loading">Login</el-button>
                </el-row>
            </el-form>

        </el-col>
    </el-row>
    </div>
</template>

<script>


export default {
    data() {
        return {
            credentials: {
                email: '',
                password: ''
            }
        }
    },
    computed: {
        loading() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.getAuthProfile();
        })
    },
    methods: {
        authenticate() {
            this.$store.commit('processing');
            this.$store.dispatch('login', this.credentials)
                .then((response) => {
                    this.loginUser(response);
                })
                .catch((error) => {
                    this.$store.commit('processed');
                    
                    
                    if (error.response.status === 422) {
                        this.$store.commit('fillError', error.response.data.errors);
                    }

                    this.$message({
                        message: error.response.data.message,
                        type: 'error',
                        showClose: true
                    });
                });
        }
    }
}
</script>
<style scoped>

.login-row {
    height: 300px;
}

.logo-row {
    height: 250px;
}

.login-header h3 {
    text-align: center;
}

.main-logo {
    max-width: 100%;
}

@media (max-width: 768px) {
    .login-row {
        height: 350px
    }
}
</style>