<template>
    <div>
        <h2>List Proyek</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item>List Proyek</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row type="flex" justify="center" :gutter="10" class="margin-bottom-25">
            <el-col :span="12">
                <el-card shadow="hover">
                    <div slot="header" class="clearfix">
                        Total pengeluaran bulan ini
                    </div>

                    <div class="text item">
                        <skeleton :text="meta.total_paid_purchase"></skeleton>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card shadow="hover">
                    <div slot="header" class="clearfix">
                        Total pemasukan bulan ini
                    </div>

                    <div class="text item">
                        <skeleton :text="meta.total_payment"></skeleton>
                    </div>
                </el-card>
            </el-col>
        </el-row>
        <el-row class="main-wrapper space-arround-25">
            <el-row type="flex" align="middle" class="space-bottom-15">
                <el-col :span="4">
                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="pageTo('admin.project.create')">Tambah Proyek</el-button>
                </el-col>
                <el-col :span="3" :offset="4">
                    <label style="display: inline-block" for="">Jumlah Tampil </label>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="meta.show">
                        <el-option v-for="(data, key) in dataShow" :key="key" :label="data" :value="data"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="6" :offset="6">
                    <form @submit.prevent="getProjects">
                        <el-input type="text" placeholder="Cari project...." v-model="meta.s" suffix-icon="el-icon-search"></el-input>
                    </form>
                </el-col>
            </el-row>
            <el-row>
                <el-table
                    :data="projects"
                    v-loading="loading"
                    stripe
                    border
                    :cell-style="styles"
                >
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="Nama Proyek" prop="name" sortable></el-table-column>
                <el-table-column label="Customer" prop="customer.data.name" sortable></el-table-column>
                <el-table-column label="Tanggal Mulai" prop="start_date_format" sortable></el-table-column>
                <el-table-column label="Status Pembayaran" prop="payment_status">
                    <template slot-scope="scope">
                        <el-badge v-if="scope.row.payment_status == 0" type="info" value="Belum Dibayar" class="item"></el-badge>
                        <el-badge v-if="scope.row.payment_status == 1" type="primary" value="Dibayar Sebagian" class="item"></el-badge>
                        <el-badge v-if="scope.row.payment_status == 2" type="success" value="Lunas" class="item"></el-badge>
                    </template>
                </el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-tooltip v-if="meta.trashed === 0" effect="dark" content="Lihat Detail" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-document" @click="onAction(scope.row, 'show detail')"></el-button>
                            </el-tooltip>
                            <el-tooltip v-if="meta.trashed === 1" effect="dark" content="Restore" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-refresh-left" @click="onAction(scope.row, 'restore')"></el-button>
                            </el-tooltip>
                            <el-tooltip v-if="meta.trashed === 0" effect="dark" content="Edit" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-edit" @click="onAction(scope.row, 'edit')"></el-button>
                            </el-tooltip>
                            <el-tooltip effect="dark" content="Delete" placement="bottom">
                                <el-button type="danger" size="small" icon="el-icon-delete" @click="onAction(scope.row, 'delete')"></el-button>
                            </el-tooltip>
                        </el-button-group>
                    </template>
                </el-table-column>

                </el-table>
            </el-row>
            <el-row type="flex" justify="end" class="space-arround-25">
                <el-pagination
                    layout="prev, pager, next"
                    :total="meta.pagination.total"
                    :page-size="meta.pagination.per_page"
                    :current-page="meta.pagination.current_page"
                    @current-change="onPageChanged">
                </el-pagination>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { fetchProject, getProject, deleteProject, restoreProject } from '../../model/project';
import Skeleton from '../../components/Skeleton';

export default {
    components: {
        Skeleton
    },
    data() {
        return {
            meta: {
                s: '',
                show: 10,
                page: 1,
                trashed: 0,
                total_payment: '',
                total_purchase: '',
                total_paid_purchase: '',
                pagination: {
                    total: 1,
                    total_pages: 1,
                    current_page: 1
                }
            },
            total: 0,
            styles: {
                textDecoration: ''
            },
            trashCount: 0,
            projects: [],
            project: {}
        }
    },
    methods: {
        onPageChanged(page) {
            this.meta.page = page;
            this.getProjects();
        },
        getProjects() {
            this.$store.commit('loading');
            if (this.projects.length > 0) {
                this.projects = [];
            }
            fetchProject(this.$store.getters.projectUrl, this.$store.state.auth.token, this.meta)
            .then((response) => {
                this.projects.push(...response.data);

                if (this.meta.trashed === 0) {
                    this.total = response.meta.pagination.total;
                }

                this.meta.pagination = response.meta.pagination;
                this.meta.total_payment = response.meta.total_payment;
                this.meta.total_paid_purchase = response.meta.total_paid_purchase;
                this.meta.total_purchase = response.meta.total_purchase;

                if (this.meta.trashed === 0 && this.meta.page === 1) {
                    this.trashCount = response.meta.trash_count;
                }

                this.$store.commit('loaded');
            })
            .catch((error) => {
                this.$store.commit('loaded');
                if (error.response.status == 401) {
                    this.logoutUser();
                } else {
                    this.errorMessage(error);
                }
            });
        },
        showAll() {
            this.meta.trashed = 0;
            this.getProjects();
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getProjects();
            }
        },
        restore() {
            this.confirmBox('Restore proyek ini?')
            .then(() => {
                restoreProject(`${this.$store.getters.projectUrl}/${this.project.id}/restore`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.project = {}
                    this.getProjects();
                })
                .catch((error) => {
                    this.errorMessage(error)
                });
            })
        },
        delete() {
            this.confirmBox().then(() => {
                deleteProject(`${this.$store.getters.projectUrl}/${this.project.id}`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.project = {};
                    this.getProjects();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        forceDelete() {
            this.confirmBox('Data proyek ini akan dihapus secara permanent termasuk data pembayaran dan pembelian, lanjutkan?').then(() => {
                deleteProject(`${this.$store.getters.projectUrl}/${this.project.id}/force-delete`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.project = {};
                    this.getProjects();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        onAction(data, action) {
            this.project = data;

            if (action === 'delete') {
                if (this.meta.trashed === 0) {
                    this.delete();
                } else {
                    this.forceDelete();
                }
            } else if(action === 'restore') {
                this.restore();
            } else if(action === 'edit') {
                this.pageTo('admin.project.edit', { id: this.project.id });
            } else if(action === 'show detail') {
                this.pageTo('admin.project.detail.index', { id: this.project.id })
            }
        },
        clearTrash() {
            this.confirmBox('Hapus semua sampah?').then(() => {
                deleteProject(`${this.$store.getters.projectUrl}/trash/clear`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.getProjects();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        }
    },
    watch: {
        'meta.show': {
            handler() {
                this.getProjects();
            },
            deep: true
        },
        'meta.trashed': {
            handler(val) {
                if (val === 1) {
                    this.styles.textDecoration = 'line-through'
                } else {
                    this.styles.textDecoration = '';
                }
            }
        }
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Proyek');
            this.getProjects();
        });
    }
}
</script>