<template>
    <div>
        <h2>Laporan Pembayaran</h2>

        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item>Laporan Pembayaran</el-breadcrumb-item>
        </el-breadcrumb>
        
        <el-row class="main-wrapper space-arround-25">
            <el-row type="flex" align="middle" justify="center" class="space-bottom-15">
                <el-col :span="22">
                    <el-form :inline="true">
                        <el-form-item label="" style="margin-bottom: 0px">
                            <el-date-picker v-model="filter.start_date" value-format="yyyy-MM-dd" format="dd MMMM yyyy" :picker-options="pickerOptions"></el-date-picker>
                        </el-form-item>
                        <el-form-item label="s/d" style="margin-bottom: 0px">
                            <el-date-picker v-model="filter.end_date" value-format="yyyy-MM-dd" format="dd MMMM yyyy" :picker-options="pickerOptions"></el-date-picker>
                        </el-form-item>
                        <el-form-item style="margin-bottom: 0px">
                            <el-button @click="filterReport" :loading="loading" type="primary" size="small">Filter</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
                <el-col :span="2">
                    <el-tooltip placement="bottom" content="Cetak Laporan">
                        <el-button @click="generatePDF" type="default" size="small" icon="el-icon-printer" :loading="processing"></el-button>
                    </el-tooltip>
                </el-col>
            </el-row>
            <el-row>
                <transition name="fade">
                    <el-table
                        :data="payments"
                        v-loading="loading"
                        stripe
                        border
                    >
                    <el-table-column type="index" label="#"></el-table-column>
                    <el-table-column label="No Pembayaran" prop="payment_no"></el-table-column>
                    <el-table-column label="No Proyek" prop="project_no"></el-table-column>
                    <el-table-column label="Tanggal" prop="date"></el-table-column>
                    <el-table-column label="Total" prop="total"></el-table-column>

                    </el-table>
                </transition>

                <transition name="fade" v-if="isGraph">
                    <bar-chart v-if="!loading" :data="chartData"></bar-chart>
                </transition>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { getPayment } from '../../model/payment';

export default {
    data() {
        return {
            payments: [],
            isGraph: false,
            filter: {
                start_date: '',
                end_date: this.now()
            },
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now()
                }
            },
            chartData: {
                labels: [],
            }
        }
    },
    methods: {
        getPayments() {
            this.$store.commit('loading');
            
            if (this.payments.length > 0) {
                this.payments = [];
            }

            getPayment(`${this.$store.getters.reportUrl('payment')}?start_date=${this.filter.start_date}&end_date=${this.filter.end_date}`, this.$store.state.auth.token)
            .then((response) => {
                this.payments.push(...response.data);

                this.$store.commit('loaded');
            })
            .catch((error) => {
                this.$store.commit('loaded');
                if (error.response.status == 401) {
                    this.logoutUser();
                } else {
                    this.errorMessage(error);
                }
            });
        },
        parseDate(times) {
            let date = new Date(times);

            return `${date.getFullYear()}-${date.getMonth()}-${date.getDate()}`;
        },
        filterReport() {
            this.getPayments();
        },
        generatePDF() {
            this.$store.commit('processing');
            axios.get(`${this.$store.getters.reportUrl('payment')}?pdf=true&start_date=${this.filter.start_date}&end_date=${this.filter.end_date}`, {
                headers: this.$store.getters.authHeader
            }).then((response) => {
                this.$store.commit('processed');

                this.$message({
                    message: response.data.message,
                    type: 'success'
                });

                setTimeout(() => {
                    window.open(response.data.url, '_blank');
                }, 1000);
            }).catch((error) => {
                this.errorMessage(error);
            });
        }
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        },
        processing() {
            return this.$store.state.buttonState;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Payment');

            let end_date = new Date(this.filter.end_date);
            end_date.setMonth(end_date.getMonth() - 1);
            
            this.filter.start_date = this.parseDate(end_date.setMonth(end_date.getMonth() + 1));
            this.getPayments();
        });
    }
}
</script>