<template>
    <div>
        <h2>Detail Proyek</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item :to="{ name: 'admin.project' }">List Proyek</el-breadcrumb-item>
            <el-breadcrumb-item>{{ project.project_no }}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="main-wrapper space-arround-25" type="flex" :gutter="15">
            <el-col :span="12">
                <div class="entry-title">Nomor Proyek : <span class="entry-value"><skeleton :text="project.project_no"></skeleton></span></div>            
                <div class="entry-title">Nama Proyek : <span class="entry-value"><skeleton :text="project.name"></skeleton></span></div>
                <div class="entry-title">Tanggal Pengerjaan : <span class="entry-value"><skeleton :text="project.start_date_format"></skeleton></span></div>
                <div class="entry-title">Customer : <span class="entry-value"><skeleton :text="project.customer.data.name"></skeleton></span></div>
                <div class="entry-title">
                    Deskripsi : <span class="entry-value" style="display: block; margin-left: 0px"><skeleton :text="project.description"></skeleton></span>
                </div>
                <div class="entry-title">
                    Status Pembayaran :
                    <span class="entry-value">
                        <el-badge v-if="project.payment_status == 0" type="info" value="Belum Dibayar" class="item"></el-badge>
                        <el-badge v-if="project.payment_status == 1" type="primary" value="Dibayar Sebagian" class="item"></el-badge>
                        <el-badge v-if="project.payment_status == 2" type="success" value="Lunas" class="item"></el-badge>
                    </span>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="entry-title">Total Biaya : <span class="entry-value"><skeleton :text="project.total_cost_format"></skeleton></span></div> 
                <div class="entry-title">Total Pemasukan : <span class="entry-value"><skeleton :text="project.total_paid_format"></skeleton></span></div>  
                <div class="entry-title">Total Pengeluaran : <span class="entry-value"><skeleton :text="project.total_purchases_complete"></skeleton></span></div>  
                <div class="entry-title">Sisa Saldo Pembelian : <span class="entry-value"><skeleton :text="project.remain_purchases"></skeleton></span></div>  
                <div class="entry-title">Sisa Saldo Pembayaran : <span class="entry-value"><skeleton :text="project.remain_payment_format"></skeleton></span></div>  
                <div class="entry-title">
                    Keuntungan : <span class="entry-value" style="display: inline-block; min-width: 100px"><skeleton :text="project.profit_loss.profit || ''"></skeleton></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Kerugian : <span class="entry-value" style="display: inline-block; min-width: 100px"><skeleton :text="project.profit_loss.loss || ''"></skeleton></span>
                </div>  
            </el-col>
        </el-row>

        <el-row class="main-wrapper space-arround-25 margin-top-25 page-wrapper" :gutter="15">
            <transition :name="transition" mode="out-in">
                <router-view></router-view>
            </transition>
        </el-row>
    </div>
</template>

<script>
import { getProject } from '../../model/project';
import Skeleton from '../../components/Skeleton';

export default {
    components: {
        Skeleton
    },
    data() {
        return {
            transition: 'slide'
        }
    },
    computed: {
        isLoading() {
            return this.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        },
        project() {
            return this.$store.state.meta.project;
        }
    },
    mounted() {
        
        this.$router.beforeEach((to, from, next) => {
            let toCount = to.path.split('/').length;
            let fromCount = from.path.split('/').length;            

            if (fromCount > toCount) {
                this.transition = 'slide-reverse';
            } else {
                this.transition = 'slide';
            }

            next();
        });

        this.$nextTick(() => {
            getProject(`${this.$store.getters.projectUrl}/${this.$route.params.id}?include=customer`, this.$store.state.auth.token)
            .then((response) => {
                setTimeout(() => {
                    let data = response.data;

                    Object.assign(data, response.meta);
                    this.$store.commit('setProjectMeta', Object.assign(data));
                }, 150);
            })
            .catch((error) => {
                this.errorMessage(error);
            });
            
        });
    },
    beforeRouteLeave(to, from, next) {
        this.$store.commit('clearProjectMeta');
        next();
        
    }
}
</script>

<style lang="css" scoped>
.entry-title {
    padding: 15px 7px 17px;
    border-bottom: 1px solid rgba(222, 222, 222, .35);
}

.entry-value {
    margin-left: 10px;
}
</style>