<template>
    <div>
        <h2>Detail Laporan Proyek - {{ project.project_no }}</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item :to="{ name: 'admin.dashboard' }">Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ name: 'admin.project' }">List Proyek</el-breadcrumb-item>
            <el-breadcrumb-item>{{ project.project_no }}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="15" type="flex" class="space-arround-15">
            <el-col :span="2" :push="21">
                <el-button @click="generatePDF" type="default" size="small" icon="el-icon-printer" :loading="isLoading">Cetak Laporan</el-button>
            </el-col>
        </el-row>
        <el-row class="main-wrapper space-arround-25" type="flex" :gutter="15">
            <el-col :span="12">
                <div class="entry-title">Nomor Proyek : <span class="entry-value"><skeleton :text="project.project_no"></skeleton></span></div>            
                <div class="entry-title">Nama Proyek : <span class="entry-value"><skeleton :text="project.name"></skeleton></span></div>
                <div class="entry-title">Tanggal Pengerjaan : <span class="entry-value"><skeleton :text="project.start_date_format"></skeleton></span></div>
                <div class="entry-title">Customer : <span class="entry-value"><skeleton :text="project.customer.data.name"></skeleton></span></div>
                <div class="entry-title">
                    Deskripsi : <span class="entry-value" style="display: block; margin-left: 0px"><skeleton :text="project.description"></skeleton></span>
                </div>
                <div class="entry-title">
                    Status Pembayaran :
                    <span class="entry-value">
                        <el-badge v-if="project.payment_status == 0" type="info" value="Belum Dibayar" class="item"></el-badge>
                        <el-badge v-if="project.payment_status == 1" type="primary" value="Dibayar Sebagian" class="item"></el-badge>
                        <el-badge v-if="project.payment_status == 2" type="success" value="Lunas" class="item"></el-badge>
                    </span>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="entry-title">Total Biaya : <span class="entry-value"><skeleton :text="project.total_cost_format"></skeleton></span></div>
                <div class="entry-title">Total Pemasukan : <span class="entry-value"><skeleton :text="project.total_paid_format"></skeleton></span></div>  
                <div class="entry-title">Total Pengeluaran : <span class="entry-value"><skeleton :text="meta.total_purchases_complete"></skeleton></span></div>  
                <div class="entry-title">Sisa Saldo Pembelian : <span class="entry-value"><skeleton :text="meta.remain_purchases"></skeleton></span></div>  
                <div class="entry-title">Sisa Saldo Pembayaran : <span class="entry-value"><skeleton :text="project.remain_payment_format"></skeleton></span></div>  
                <div class="entry-title">Keuntungan : <span class="entry-value"><skeleton :text="project.profit_loss.profit"></skeleton></span></div>  
            </el-col>
        </el-row>

        <h2 class="margin-top-30">Pembelian</h2>
        <el-row class="main-wrapper space-arround-25 margin-top-25 page-wrapper" :gutter="15">
            <el-row type="flex" justify="center" style="background: rgba(225, 225, 225, .45)" :gutter="15" class="space-arround-15">
                <el-col :span="4">Kode Pembelian</el-col>
                <el-col :span="4">Tanggal Pembelian</el-col>
                <el-col :span="4">Status Pembelian</el-col>
                <el-col :span="4">Total Dibayar</el-col>
                <el-col :span="4">Total Pembelian</el-col>
                <el-col :span="4">&nbsp;</el-col>
            </el-row>
            <el-row type="flex" justify="center" v-for="purchase in purchases" :key="purchase.purchase_no" class="space-arround-15">
                <el-col :span="4"><skeleton :text="purchase.purchase_no"></skeleton></el-col>
                <el-col :span="4"><skeleton :text="purchase.date"></skeleton></el-col>
                <el-col :span="4">
                    <el-badge v-if="purchase.status == 0" type="info" value="Belum Dibayar" class="item"></el-badge>
                    <el-badge v-if="purchase.status == 1" type="primary" value="Dibayar Sebagian" class="item"></el-badge>
                    <el-badge v-if="purchase.status == 2" type="success" value="Lunas" class="item"></el-badge>
                </el-col>
                <el-col :span="4"><skeleton :text="purchase.total_paid_format"></skeleton></el-col>
                <el-col :span="4"><skeleton :text="purchase.total_format"></skeleton></el-col>
                <el-col :span="4">&nbsp;</el-col>
            </el-row>
            <el-row type="flex" justify="center" :gutter="10" style="background: rgba(225, 225, 225, .45)" class="space-arround-15">
                <el-col :span="4">&nbsp;</el-col>
                <el-col :span="4">&nbsp;</el-col>
                <el-col :span="4">Subtotal</el-col>
                <el-col :span="4"><skeleton :text="meta.total_purchases_complete"></skeleton></el-col>
                <el-col :span="4"><skeleton :text="project.total_cost_format"></skeleton></el-col>
                <el-col :span="4">Sisa : {{ (purchaseSubTotal - purchaseTotalPaid) | currency_format }}</el-col>
            </el-row>
        </el-row>

        <h2 class="margin-top-30">Pembayaran</h2>
        <el-row class="main-wrapper space-arround-25 margin-top-25 page-wrapper" :gutter="15">
            <el-row type="flex" justify="center" style="background: rgba(225, 225, 225, .45)" :gutter="15" class="space-arround-15">
                <el-col :span="4">No Pembayaran</el-col>
                <el-col :span="4">Tanggal Pembayaran</el-col>
                <el-col :span="4">Total Pembayaran</el-col>
            </el-row>
            <el-row type="flex" justify="center" v-for="payment in payments" :key="payment.payment_no" class="space-arround-15">
                <el-col :span="4"><skeleton :text="payment.payment_no"></skeleton></el-col>
                <el-col :span="4"><skeleton :text="payment.date_format"></skeleton></el-col>
                <el-col :span="4"><skeleton :text="payment.total_format"></skeleton></el-col>
            </el-row>
            <el-row type="flex" justify="center" :gutter="10" style="background: rgba(225, 225, 225, .45)" class="space-arround-15">
                <el-col :span="4">&nbsp;</el-col>
                <el-col :span="4">Subtotal</el-col>
                <el-col :span="4"><skeleton :text="project.total_paid_format"></skeleton></el-col>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { getProject } from '../../model/project';
import Skeleton from '../../components/Skeleton';

export default {
    components: {
        Skeleton
    },
    data() {
        return {
            project: {
                customer: {
                    data: []
                },
                profit_loss: {}
            },
            meta: {},
            purchases: [],
            payments: []
        }
    },
    computed: {
        isLoading() {
            return this.$store.state.loadingState;
        },
        purchaseTotalPaid() {
            let total = 0;

            this.purchases.forEach((purchase) => {
                total += purchase.total_paid
            });

            return total;
        },
        purchaseSubTotal() {
            let total = 0;

            this.purchases.forEach((purchase) => {
                total += purchase.total
            });

            return total;
        },
        paymentSubTotal() {
            let total = 0;

            this.payments.forEach((payment) => {
                total += payment.total
            });

            return total;
        }
    },
    methods: {
        generatePDF() {
            this.$store.commit('loading');
            axios.get(`${this.$store.getters.projectUrl}/${this.$route.params.projectId}?pdf=true`, {
                headers: this.$store.getters.authHeader
            }).then((response) => {
                this.$store.commit('loaded');

                this.$message({
                    message: response.data.message,
                    type: 'success'
                });

                setTimeout(() => {
                    window.open(response.data.url, '_blank');
                }, 1000);
            }).catch((error) => {
                this.errorMessage(error);
            });
        }
    },
    mounted() {
        this.$nextTick(() => {
            getProject(`${this.$store.getters.projectUrl}/${this.$route.params.projectId}?include=customer,purchases,payments`, this.$store.state.auth.token)
            .then((response) => {
                let { purchases, payments } = response.data;
                setTimeout(() => {
                    this.project = response.data;
                    this.meta = response.meta;
                    this.purchases.push(...purchases.data);
                    this.payments.push(...payments.data);
                }, 150);
            })
            .catch((error) => {
                this.errorMessage(error);
            });
            
        });
    },
}
</script>

<style lang="css" scoped>
.entry-title {
    padding: 15px 7px 17px;
    border-bottom: 1px solid rgba(222, 222, 222, .35);
}

.entry-value {
    margin-left: 10px;
}
</style>