<template>
    <div>
        <h2>{{ title }}</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item :to="{ name: 'admin.project' }">List Proyek</el-breadcrumb-item>
            <el-breadcrumb-item>{{ title }}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="form-wrapper space-arround-25" style="max-width: 1500px">
            <el-form v-model="form">
                <el-row :gutter="15">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="24">
                            <el-form-item label="Nama Proyek" :error="(errors.name) ? errors.name[0] : null">
                                <el-input type="text" ref="name" :autofocus="true" v-model="form.name"></el-input>
                            </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Tanggal Pengerjaan" :error="(errors.start_date) ? errors.start_date[0] : null">
                                    <el-date-picker v-model="form.start_date" value-format="yyyy-MM-dd" format="dd MMMM yyyy" style="width: 100%"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Pilih Customer" :error="(errors.start_date) ? errors.start_date[0] : null"><br>
                                    <el-select v-model="form.customer_id" filterable style="width: 100%">
                                        <el-option :value="0" label="Customer"></el-option>
                                        <el-option v-for="customer in customers" :value="customer.id" :key="customer.id" :label="customer.name"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-col :span="24">
                            <el-form-item label="Deskripsi" :error="(errors.start_date) ? errors.start_date[0] : null">
                                <el-input type="textarea" :rows="11" v-model="form.description"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-col>
                    
                </el-row>
                <el-row v-if="action === 'create'">
                    <el-col :span="24">
                        <el-checkbox v-model="addPurchase">Tambah daftar pembelian?</el-checkbox>
                    </el-col>
                </el-row>
                <el-row v-if="addPurchase" align="center" class="margin-top-20">
                    <el-row class="space-arround-20" type="flex" align="middle" style="background: rgba(225, 225, 225, .45)" :gutter="15">
                        <el-col :span="2">No</el-col>
                        <el-col :span="5">Nama Barang</el-col>
                        <el-col :span="4">Harga</el-col>
                        <el-col :span="4">Satuan</el-col>
                        <el-col :span="4">QTY</el-col>
                        <el-col :span="4">Total</el-col>
                    </el-row>
                    <el-row class="space-arround-20 detail-item" v-for="(detail, index) in purchase.details" :key="detail.id" align="middle" type="flex" :gutter="15">
                        <el-col :span="2">{{ detail.id }}</el-col>
                        <el-col :span="5">
                            <el-select v-model="detail.item_id" @change="onItemSelected($event, detail, index)" filterable>
                                <el-option :value="0" label="Pilih Barang"></el-option>
                                <el-option v-for="item in items" :key="item.id" :value="item.id" :label="item.name" :disabled="item.disabled"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="4">
                            {{ detail.purchase_price | currency_format }}
                        </el-col>
                        <el-col :span="4">
                            {{ detail.qty_type }}
                        </el-col>
                        <el-col :span="4">
                            <el-input v-model="detail.qty" @input="onQtyChanged(detail)" @keydown.native.tab="addNewDetail(index)" type="number" :min="1"></el-input>
                        </el-col>
                        <el-col :span="4">
                            {{ detail.total | currency_format }}
                        </el-col>
                        <el-col :span="2">
                            <el-button-group>

                                <el-tooltip v-if="isLatestDetail(detail.id)" effect="dark" content="Tambah entry barang" placement="bottom">
                                    <el-button @click="addNewDetail(index)" type="default" icon="el-icon-plus" size="small"></el-button>
                                </el-tooltip>

                                <el-tooltip v-if="purchase.details.length > 1" effect="dark" content="Hapus entry barang" placement="bottom">
                                    <el-button @click="removeDetail(detail.id)" type="danger" icon="el-icon-minus" size="small"></el-button>
                                </el-tooltip>
                            </el-button-group>
                        </el-col>
                    </el-row>
                    <el-row class="space-arround-20 margin-bottom-20" style="background: rgba(225, 225, 225, .45)" type="flex" :gutter="15">
                        <el-col :span="2" :offset="14">Subtotal</el-col>
                        <el-col :span="6"><b>{{ subtotal | currency_format }}</b></el-col>
                    </el-row>
                </el-row>
                <el-row :gutter="15" type="flex" justify="end">
                    <el-button type="default" size="small" :loading="isProcessing" @click="onSubmit(true)">Simpan & Kembali</el-button>
                    <el-button type="primary" size="small" :loading="isProcessing" native-type="submit" @click.prevent="onSubmit">Simpan</el-button>
                </el-row>
                
            </el-form>
        </el-row>
    </div>
</template>

<script>
import { createProject, getProject, updateProject } from '../../model/project';
import { getCustomer } from '../../model/customer';
import { getItem } from '../../model/item';

export default {
    props: {
        action: {
            type: String,
            default: 'create'
        }
    },
    computed: {
        isProcessing() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        },
        subtotal() {
            let total = 0;
            this.purchase.details.forEach((item) => {
                total += item.total;
            });

            return total;
        }
    },
    methods: {
        create(back = false) {
            
            if (this.purchase.details.length > 0 && this.addPurchase) {
                this.form.purchases = this.purchase.details;
            }

            createProject(this.$store.getters.projectUrl, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.clearForm(this.form);
                this.setFocus(this.$refs.name);
                this.purchases = [];
                this.addPurchase = false;
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.project');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        isLatestDetail(id) {
            if (this.purchase.details.length === id) {
                return true;
            }

            return false;
        },
        removeDetail(id) {
            this.purchase.details.splice(id-1, 1);
            this.disabledItems.splice(id-1, 1);

            this.purchase.details.forEach((item, index) => {
                item.id = index + 1;
            });
            this.refreshDisabled();
        },
        addNewDetail() {
            this.purchase.details.push({
                id: (this.purchase.details.length === 0) ? 1 : this.purchase.details.length + 1,
                item_id: 0,
                purchase_price: 0,
                qty: 1,
                qty_type: '-',
                total: 0
            });
        },
        onItemSelected(event, detail, index) {
            let selectedItem = this.items.find((item) => item.id === event);
            
            detail.purchase_price = selectedItem.purchase_price;
            detail.total = detail.purchase_price * detail.qty;
            detail.qty_type = selectedItem.qty_type;

            if (this.items.indexOf(selectedItem.id) === -1) {
                this.disabledItems[index] = selectedItem.id;
                this.refreshDisabled();
            }
        },
        onQtyChanged(detail) {
            detail.total = detail.purchase_price * detail.qty;
        },
        update(back = false) {
            updateProject(`${this.$store.getters.projectUrl}/${this.$route.params.id}`, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.setFocus(this.$refs.name);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.project');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        onSubmit(back = false) {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            if (this.action === 'edit') {
                this.update(back);
            } else {
                this.create(back);
            }
        },
        refreshDisabled() {
            this.items.forEach((item) => {
                if (this.disabledItems.indexOf(item.id) > -1) {
                    item.disabled = true;
                } else {
                    item.disabled = false;
                }
            });
        }
    },
    data() {
        return {
            permissions: [],
            title: 'Tambah Proyek',
            addPurchase: false,
            form: {
                name: '',
                start_date: this.now(),
                customer_id: 0,
                description: '',
            },
            purchase: {
                total: 0,
                total_paid: 0,
                status: 0,
                details: []
            },
            customers: [],
            items: [],
            disabledItems: []
        }
    },
    watch: {
        addPurchase: function(val) {
            if (this.items.length === 0) {
                getItem(`${this.$store.getters.itemUrl}?all=true`, this.$store.state.auth.token).then((response) => {
                    this.items.push(...response.data);
                }).catch((error) => {
                    this.errorMessage(error);
                })
            }

            if (val === true) {
                this.addNewDetail();
            } else {
                this.purchase.details = []
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.setFocus(this.$refs.name);

            getCustomer(`${this.$store.getters.customerUrl}?all=true`, this.$store.state.auth.token).then((response) => {
                this.customers.push(...response.data);
            }).catch((error) => {
                this.errorMessage(error);
            });

            if (this.action === 'edit') {
                this.title = 'Edit Proyek';
                getProject(`${this.$store.getters.projectUrl}/${this.$route.params.id}`, this.$store.state.auth.token)
                .then((response) => {
                    this.fillForm(this.form, response.data);
                });
            }
        })
    }
}
</script>

<style lang="css" scoped>
.detail-item {
    border-bottom: 1px solid rgba(222, 222, 222, .3);
}

.detail-item:last-child {
    border: none;
}
</style>