<template>
    <div>
        <h2>Laporan Proyek</h2>

        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item>Laporan Proyek</el-breadcrumb-item>
        </el-breadcrumb>
        
        <el-row class="main-wrapper space-arround-25">
            <el-row type="flex" align="middle" justify="center" class="space-bottom-15">
                <el-col :span="22">
                    <el-form :inline="true">
                        <el-form-item label="" style="margin-bottom: 0px">
                            <el-date-picker v-model="filter.start_date" value-format="yyyy/MM/dd" format="dd MMMM yyyy" :picker-options="pickerOptions"></el-date-picker>
                        </el-form-item>
                        <el-form-item label="s/d" style="margin-bottom: 0px">
                            <el-date-picker v-model="filter.end_date" value-format="yyyy/MM/dd" format="dd MMMM yyyy" :picker-options="pickerOptions"></el-date-picker>
                        </el-form-item>
                        <el-form-item style="margin-bottom: 0px">
                            <el-button :loading="loading" @click="filterReport" type="primary" size="small">Filter</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-checkbox v-model="isGraph" label="Tampilkan dalam grafik"></el-checkbox>
                        </el-form-item>
                    </el-form>
                </el-col>
                <el-col :span="2">
                    <el-tooltip placement="bottom" content="Cetak Laporan">
                        <el-button @click="generatePDF" type="default" size="small" icon="el-icon-printer" :loading="processing"></el-button>
                    </el-tooltip>
                </el-col>
            </el-row>
            <el-row>
                <transition name="fade">
                    <el-table
                        v-if="!isGraph"
                        :data="projects"
                        v-loading="loading"
                        stripe
                        border
                    >
                    <el-table-column type="index" label="#"></el-table-column>
                    <el-table-column label="Kode Proyek" prop="project_no"></el-table-column>
                    <el-table-column label="Nama Proyek" prop="name"></el-table-column>
                    <el-table-column label="Modal" prop="total_cost"></el-table-column>
                    <el-table-column label="Total Pembayaran" prop="total_payment"></el-table-column>
                    <el-table-column label="Keuntungan" prop="profit"></el-table-column>
                    <el-table-column label="Action">
                        <template slot-scope="scope">
                            <el-button-group>
                                <el-tooltip effect="dark" content="Lihat Detail" placement="bottom">
                                    <el-button @click="pageTo('admin.project.report.detail', { projectId: scope.row.id })" type="default" size="small" icon="el-icon-document"></el-button>
                                </el-tooltip>
                            </el-button-group>
                        </template>
                    </el-table-column>

                    </el-table>

                    <bar-chart v-if="!loading && isGraph" :data="chartData"></bar-chart>
                </transition>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { getProject } from '../../model/project';
import BarChart from '../../components/charts/Bar';

export default {
    components: {
        BarChart
    },
    data() {
        return {
            projects: [],
            isGraph: false,
            filter: {
                start_date: '',
                end_date: this.now('/')
            },
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now()
                }
            },
            chartData: {
                labels: [],
                datasets: [
                    {
                        label: 'Biaya',
                        backgroundColor: 'rgba(62, 181, 240, .4)',
                        borderColor: 'rgba(112, 187, 224, .90)',
                        borderWidth: 2,
                        data: []
                    },
                    {
                        label: 'Total Pembayaran',
                        backgroundColor: 'rgba(207, 154, 74, .4)',
                        borderColor: 'rgba(173, 124, 50, .90)',
                        borderWidth: 2,
                        data: []
                    },
                    {
                        label: 'Total Dibayar',
                        backgroundColor: 'rgba(219, 215, 79, .4)',
                        borderColor: 'rgba(171, 168, 55, .90)',
                        borderWidth: 2,
                        data: []
                    },
                    {
                        label: 'Keuntungan',
                        backgroundColor: 'rgba(74, 212, 90, .4)',
                        borderColor: 'rgba(59, 179, 73, .90)',
                        borderWidth: 2,
                        data: []
                    },
                ]
            }
        }
    },
    methods: {
        getProjects() {
            this.$store.commit('loading');
            
            if (this.projects.length > 0) {
                this.projects = [];
            }

            getProject(`${this.$store.getters.reportUrl('project')}?start_date=${this.filter.start_date}&end_date=${this.filter.end_date}`, this.$store.state.auth.token)
            .then((response) => {
                this.projects.push(...response.data);

                if (this.isGraph) {
                    this.generateDataSets();
                }

                this.$store.commit('loaded');
            })
            .catch((error) => {
                this.$store.commit('loaded');
                if (error.response.status == 401) {
                    this.logoutUser();
                } else {
                    this.errorMessage(error);
                }
            });
        },
        parseDate(times) {
            let date = new Date(times);

            return `${date.getFullYear()}/${date.getMonth()}/${date.getDate()}`;
        },
        clearDatasets() {
            this.chartData.labels = [];
            this.chartData.datasets[0].data = [];
            this.chartData.datasets[1].data = [];
            this.chartData.datasets[2].data = [];
            this.chartData.datasets[3].data = [];
        },
        generateDataSets() {
            let data = this.projects;
            this.clearDatasets();

            this.chartData.labels.push(...data.map((project) => project.name));
            this.chartData.datasets[0].data.push(...data.map((project) => parseInt(project.total_cost.replace(new RegExp('[Rp.\s,]', 'g'), ''))));
            this.chartData.datasets[1].data.push(...data.map((project) => parseInt(project.total_payment.replace(new RegExp('[Rp.\s,]', 'g'), ''))));
            this.chartData.datasets[2].data.push(...data.map((project) => parseInt(project.total_paid.replace(new RegExp('[Rp.\s,]', 'g'), ''))));
            this.chartData.datasets[3].data.push(...data.map((project) => parseInt(project.profit.replace(new RegExp('[Rp.\s,]', 'g'), ''))));
        },
        clearDatasets() {
            this.chartData.labels = [];
            this.chartData.datasets[0].data = [];
            this.chartData.datasets[1].data = [];
            this.chartData.datasets[2].data = [];
            this.chartData.datasets[3].data = [];
        },
        filterReport() {
            this.getProjects();
        },
        generatePDF() {
            this.$store.commit('processing');
            axios.get(`${this.$store.getters.reportUrl('project')}?pdf=true&start_date=${this.filter.start_date}&end_date=${this.filter.end_date}`, {
                headers: this.$store.getters.authHeader
            }).then((response) => {
                this.$store.commit('processed');

                this.$message({
                    message: response.data.message,
                    type: 'success'
                });

                setTimeout(() => {
                    window.open(response.data.url, '_blank');
                }, 1000);
            }).catch((error) => {
                this.errorMessage(error);
            });
        }
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        },
        processing() {
            return this.$store.state.buttonState;
        }
    },
    watch: {
        isGraph: function(val) {
            if (val) {
                this.generateDataSets();
            } else {
                this.clearDatasets();
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Project');

            let end_date = new Date(this.filter.end_date);
            end_date.setMonth(end_date.getMonth() - 1);
            
            this.filter.start_date = this.parseDate(end_date.setMonth(end_date.getMonth() + 1));
            this.getProjects();
        });
    }
}
</script>