<template>
    <span class="skeleton text">{{ text }}</span>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: ''
        }
    }
}
</script>

<style lang="css" scoped>
.skeleton:empty {
    width: 55%;
    height: 20px;
    display: inline-block;
    background-color: #dfdfdf;
    border-radius: 2.5px;
    overflow: hidden;
    max-height: 300px;
}

.skeleton.text {
    display: inline-block;
}

.skeleton:empty::before {
    width: 35%;
    height: 100%;
    display: block;
    content: "";
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(111, 111, 111, 0.5) 100%);
    transform: translateX(0);
    animation: skeleton-slide 1.2s infinite;
}
</style>