<template>
    <el-tabs type="card">
        <el-tab-pane label="Detail Pembelian">
            <purchase-details-list></purchase-details-list>
        </el-tab-pane>
        <el-tab-pane label="List Pembayaran">
            <purchase-payment-list></purchase-payment-list>
        </el-tab-pane>
    </el-tabs>
</template>

<script>
import PurchaseDetailsList from '../../components/purchase/PurchaseDetailsList';
import PurchasePaymentList from '../../components/purchase/PurchasePaymentList';

export default {
    components: {
        PurchaseDetailsList,
        PurchasePaymentList
    }    
}
</script>