<template>
    <div>
        <h2>Laporan Pembelian</h2>

        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item>Laporan Pembelian</el-breadcrumb-item>
        </el-breadcrumb>
        
        <el-row class="main-wrapper space-arround-25">
            <el-row type="flex" align="middle" justify="center" class="space-bottom-15">
                <el-col :span="22">
                    <el-form :inline="true">
                        <el-form-item label="" style="margin-bottom: 0px">
                            <el-date-picker v-model="filter.start_date" value-format="yyyy-MM-dd" format="dd MMMM yyyy" :picker-options="pickerOptions"></el-date-picker>
                        </el-form-item>
                        <el-form-item label="s/d" style="margin-bottom: 0px">
                            <el-date-picker v-model="filter.end_date" value-format="yyyy-MM-dd" format="dd MMMM yyyy" :picker-options="pickerOptions"></el-date-picker>
                        </el-form-item>
                        <el-form-item style="margin-bottom: 0px">
                            <el-button @click="filterReport" :loading="loading" type="primary" size="small">Filter</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
                <el-col :span="2">
                    <el-tooltip placement="bottom" content="Cetak Laporan">
                        <el-button @click="generatePDF" type="default" size="small" icon="el-icon-printer" :loading="processing"></el-button>
                    </el-tooltip>
                </el-col>
            </el-row>
            <el-row>
                <transition name="fade" v-if="!isGraph">
                    <el-table
                        :data="purchases"
                        v-loading="loading"
                        stripe
                        border
                    >
                    <el-table-column type="index" label="#"></el-table-column>
                    <el-table-column label="Kode Pembelian" prop="purchase_no"></el-table-column>
                    <el-table-column label="Kode Proyek" prop="project_no"></el-table-column>
                    <el-table-column label="Total Pembelian" prop="total"></el-table-column>
                    <el-table-column label="Total Dibayar" prop="total_paid"></el-table-column>
                    <el-table-column label="Sisa Saldo" prop="remain_balance"></el-table-column>
                    <el-table-column label="Action">
                        <template slot-scope="scope">
                            <el-button-group>
                                <el-tooltip effect="dark" content="Lihat Detail" placement="bottom">
                                    <el-button @click="pageTo('admin.purchase.report.detail', { purchaseId: scope.row.id })" type="default" size="small" icon="el-icon-document"></el-button>
                                </el-tooltip>
                            </el-button-group>
                        </template>
                    </el-table-column>

                    </el-table>
                </transition>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { getPurchase } from '../../model/purchase';

export default {
    data() {
        return {
            purchases: [],
            isGraph: false,
            filter: {
                start_date: '',
                end_date: this.now()
            },
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now()
                }
            },
        }
    },
    methods: {
        getPurchases() {
            this.$store.commit('loading');
            
            if (this.purchases.length > 0) {
                this.purchases = [];
            }

            getPurchase(`${this.$store.getters.reportUrl('purchase')}?start_date=${this.filter.start_date}&end_date=${this.filter.end_date}`, this.$store.state.auth.token)
            .then((response) => {
                this.purchases.push(...response.data);

                if (this.isGraph) {
                    this.generateDataSets();
                }

                this.$store.commit('loaded');
            })
            .catch((error) => {
                this.$store.commit('loaded');
                if (error.response.status == 401) {
                    this.logoutUser();
                } else {
                    this.errorMessage(error);
                }
            });
        },
        parseDate(times) {
            let date = new Date(times);

            return `${date.getFullYear()}-${date.getMonth()}-${date.getDate()}`;
        },
        clearDatasets() {
            this.chartData.labels = [];
            this.chartData.datasets[0].data = [];
            this.chartData.datasets[1].data = [];
            this.chartData.datasets[2].data = [];
            this.chartData.datasets[3].data = [];
        },
        filterReport() {
            this.getPurchases();
        },
        onAction(data, action) {
            this.purchase = data;

            if (action === 'delete') {
                if (this.meta.trashed === 0) {
                    this.delete();
                } else {
                    this.forceDelete();
                }
            } else if(action === 'restore') {
                this.restore();
            } else if(action === 'edit') {
                this.pageTo('admin.purchase.edit', { id: this.purchase.id });
            } else if(action === 'show detail') {
                this.pageTo('admin.purchase.detail.index', { id: this.purchase.id })
            }
        },
        generatePDF() {
            this.$store.commit('processing');
            axios.get(`${this.$store.getters.reportUrl('purchase')}?pdf=true&start_date=${this.filter.start_date}&end_date=${this.filter.end_date}`, {
                headers: this.$store.getters.authHeader
            }).then((response) => {
                this.$store.commit('processed');

                this.$message({
                    message: response.data.message,
                    type: 'success'
                });

                setTimeout(() => {
                    window.open(response.data.url, '_blank');
                }, 1000);
            });
        }
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        },
        processing() {
            return this.$store.state.buttonState;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Purchase');

            let end_date = new Date(this.filter.end_date);
            end_date.setMonth(end_date.getMonth() - 1);
            
            this.filter.start_date = this.parseDate(end_date.setMonth(end_date.getMonth() + 1));
            this.getPurchases();
        });
    }
}
</script>