<template>
    <div>
        <h2>Detail Pembelian</h2>
        <el-button type="warning" size="small" @click="$router.go(-1)">Kembali</el-button>
        <el-row class="main-wrapper" type="flex" :gutter="15">
            <el-col :span="12">
                <div class="entry-title">Nomor Pembelian : <span class="entry-value"><skeleton :text="purchase.purchase_no"></skeleton></span></div>            
                <div class="entry-title">Tanggal Pembelian : <span class="entry-value"><skeleton :text="purchase.date"></skeleton></span></div>
                <div class="entry-title">
                    Status : 
                    <el-badge v-if="purchase.status == 0" type="info" value="Belum Dibayar" class="item"></el-badge>
                    <el-badge v-if="purchase.status == 1" type="primary" value="Dibayar Sebagian" class="item"></el-badge>
                    <el-badge v-if="purchase.status == 2" type="success" value="Lunas" class="item"></el-badge>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="entry-title">Total Pembelian : <span class="entry-value"><skeleton :text="purchase.total_format"></skeleton></span></div>
                <div class="entry-title">Sudah Dibayar : <span class="entry-value"><skeleton :text="purchase.total_paid_format"></skeleton></span></div>
                <div class="entry-title">Sisa Saldo : <span class="entry-value"><skeleton :text="purchase.remain_balance_format"></skeleton></span></div>
            </el-col>
        </el-row>

        <el-row class="main-wrapper space-arround-25 margin-top-25 page-wrapper" :gutter="15">
            <transition name="slide" mode="out-in">
                <router-view></router-view>
            </transition>
        </el-row>
    </div>
</template>

<script>
import { getPurchase } from '../../model/purchase';
import Skeleton from '../../components/Skeleton';

export default {
    components: {
        Skeleton
    },
    data() {
        return {
            transition: 'slide'
        }
    },
    computed: {
        isLoading() {
            return this.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        },
        purchase() {
            return this.$store.state.meta.purchase;
        }
    },
    mounted() {
        
        this.$router.beforeEach((to, from, next) => {
            let toCount = to.path.split('/').length;
            let fromCount = from.path.split('/').length;            

            if (fromCount > toCount) {
                this.transition = 'slide-reverse';
            } else {
                this.transition = 'slide';
            }

            next();
        });

        this.$nextTick(() => {
            getPurchase(`${this.$store.getters.purchaseUrl(this.$route.params.purchaseId)}`, this.$store.state.auth.token)
            .then((response) => {
                this.$store.commit('setPurchaseMeta', response.data);
            })
            .catch((error) => {
                this.errorMessage(error);
            });
            
        });
    },
    beforeRouteLeave(from, to, next) {
        this.$store.commit('clearPurchaseMeta');

        next();
    }
}
</script>

<style lang="css" scoped>
.entry-title {
    padding: 15px 7px 17px;
    display: block;
    border-bottom: 1px solid rgba(222, 222, 222, .35);
}

.entry-value {
    margin-left: 10px;
}
</style>