<template>
    <div>
        <h2>Detail Pembelian - {{ purchase.purchase_no }}</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item :to="{ name: 'admin.dashboard' }">Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ name: 'admin.project' }">List Proyek</el-breadcrumb-item>
            <el-breadcrumb-item>{{ purchase.purchase_no }}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="15" type="flex" class="space-arround-15">
            <el-col :span="2" :push="21">
                <el-button @click="generatePDF" type="default" size="small" icon="el-icon-printer" :loading="isLoading">Cetak Laporan</el-button>
            </el-col>
        </el-row>
        <el-row class="main-wrapper space-arround-25" type="flex" :gutter="15">
            <el-col :span="12">
                <div class="entry-title">Nomor Pembelian : <span class="entry-value"><skeleton :text="purchase.purchase_no"></skeleton></span></div>            
                <div class="entry-title">Tanggal Pembelian : <span class="entry-value"><skeleton :text="purchase.date"></skeleton></span></div>
                <div class="entry-title">
                    Status : 
                    <el-badge v-if="purchase.status == 0" type="info" value="Belum Dibayar" class="item"></el-badge>
                    <el-badge v-if="purchase.status == 1" type="primary" value="Dibayar Sebagian" class="item"></el-badge>
                    <el-badge v-if="purchase.status == 2" type="success" value="Lunas" class="item"></el-badge>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="entry-title">Total Pembelian : <span class="entry-value"><skeleton :text="purchase.total_format"></skeleton></span></div>
                <div class="entry-title">Sudah Dibayar : <span class="entry-value"><skeleton :text="purchase.total_paid_format"></skeleton></span></div>
                <div class="entry-title">Sisa Saldo : <span class="entry-value"><skeleton :text="purchase.remain_balance_format"></skeleton></span></div>
            </el-col>
        </el-row>

        <h2 class="margin-top-30">Daftar Entry Barang</h2>
        <el-row class="main-wrapper space-arround-25 margin-top-25 page-wrapper" :gutter="15">
            <el-row type="flex" justify="center" style="background: rgba(225, 225, 225, .45)" :gutter="15" class="space-arround-15">
                <el-col :span="8">Nama Barang</el-col>
                <el-col :span="4">QTY</el-col>
                <el-col :span="4">Harga Satuan</el-col>
                <el-col :span="4">Total</el-col>
                <el-col :span="4">&nbsp;</el-col>
            </el-row>
            <el-row type="flex" justify="center" v-for="detail in details" :key="detail.id" class="space-arround-15">
                <el-col :span="8">{{ detail.item.data.name }}</el-col>
                <el-col :span="4">{{ detail.qty }}</el-col>
                <el-col :span="4">{{ detail.item.data.format_purchase_price }}</el-col>
                <el-col :span="4">{{ detail.total_purchase_price_format }}</el-col>
                <el-col :span="4">&nbsp;</el-col>
            </el-row>
            <el-row type="flex" justify="center" :gutter="10" style="background: rgba(225, 225, 225, .45)" class="space-arround-15">
                <el-col :span="8">&nbsp;</el-col>
                <el-col :span="4">&nbsp;</el-col>
                <el-col :span="4">Subtotal</el-col>
                <el-col :span="4"><skeleton :text="purchaseSubTotal | currency_format"></skeleton></el-col>
                <el-col :span="4">&nbsp;</el-col>
            </el-row>
        </el-row>

        <h2 class="margin-top-30">Daftar Pembayaran</h2>
        <el-row class="main-wrapper space-arround-25 margin-top-25 page-wrapper" :gutter="15">
            <el-row type="flex" justify="center" style="background: rgba(225, 225, 225, .45)" :gutter="15" class="space-arround-15">
                <el-col :span="4">No Pembayaran</el-col>
                <el-col :span="4">Tanggal</el-col>
                <el-col :span="4">Total</el-col>
                <el-col :span="4">&nbsp;</el-col>
            </el-row>
            <el-row type="flex" justify="center" v-for="payment in payments" :key="payment.id" class="space-arround-15">
                <el-col :span="4">{{ payment.payment_no }}</el-col>
                <el-col :span="4">{{ payment.date_format }}</el-col>
                <el-col :span="4">{{ payment.total_format }}</el-col>
                <el-col :span="4">&nbsp;</el-col>
            </el-row>
            <el-row type="flex" justify="center" :gutter="10" style="background: rgba(225, 225, 225, .45)" class="space-arround-15">
                <el-col :span="4">&nbsp;</el-col>
                <el-col :span="4">Subtotal</el-col>
                <el-col :span="4"><skeleton :text="purchasePaymentTotal | currency_format"></skeleton></el-col>
                <el-col :span="4">&nbsp;</el-col>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { getPurchase } from '../../model/purchase';
import Skeleton from '../../components/Skeleton';

export default {
    components: {
        Skeleton
    },
    data() {
        return {
            purchase: {
            },
            meta: {},
            details: [],
            payments: []
        }
    },
    computed: {
        isLoading() {
            return this.$store.state.loadingState;
        },
        purchaseSubTotal() {
            let total = 0;

            this.details.forEach((detail) => {
                total += detail.total_purchase_price
            });

            return total;
        },
        purchasePaymentTotal() {
            let total = 0;

            this.payments.forEach((payment) => {
                total += payment.total
            });

            return total;
        }
    },
    methods: {
        generatePDF() {
            this.$store.commit('loading');
            axios.get(`${this.$store.getters.purchaseUrl(this.$route.params.purchaseId)}?pdf=true`, {
                headers: this.$store.getters.authHeader
            }).then((response) => {
                this.$store.commit('loaded');

                this.$message({
                    message: response.data.message,
                    type: 'success'
                });

                setTimeout(() => {
                    window.open(response.data.url, '_blank');
                }, 1000);
            }).catch((error) => {
                this.errorMessage(error);
            });
        }
    },
    mounted() {
        this.$nextTick(() => {
            getPurchase(`${this.$store.getters.purchaseUrl(this.$route.params.purchaseId)}?include=details, payments`, this.$store.state.auth.token)
            .then((response) => {
                let { details, payments } = response.data;
                setTimeout(() => {
                    this.purchase = response.data;
                    this.details.push(...details.data);
                    this.payments.push(...payments.data);
                }, 150);
            })
            .catch((error) => {
                this.errorMessage(error);
            });
            
        });
    },
}
</script>

<style lang="css" scoped>
.entry-title {
    padding: 15px 7px 17px;
    border-bottom: 1px solid rgba(222, 222, 222, .35);
}

.entry-value {
    margin-left: 10px;
}
</style>