<template>
    <div>
        <h2>{{ title }}</h2>
        <el-button type="warning" size="small" @click="$router.go(-1)">Kembali</el-button>
        <el-row align="center" class="margin-top-20">
            <el-row class="space-arround-20" type="flex" align="middle" style="background: rgba(225, 225, 225, .45)" :gutter="15">
                <el-col :span="6">Nama Barang</el-col>
                <el-col :span="4">Harga</el-col>
                <el-col :span="4">QTY</el-col>
                <el-col :span="4">Total</el-col>
            </el-row>
            <el-row class="space-arround-20" align="middle" type="flex" :gutter="15">
                <el-col :span="6">
                    <el-select v-model="data.item_id" @change="onItemSelected($event, data)" filterable>
                        <el-option :value="0" label="Pilih Barang"></el-option>
                        <el-option v-for="item in items" :key="item.id" :value="item.id" :label="item.name"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="4">
                    {{ data.purchase_price | currency_format }}
                </el-col>
                <el-col :span="4">
                    <el-input v-model="data.qty" @input="onQtyChanged(data)" type="number" :min="1"></el-input>
                </el-col>
                <el-col :span="6">
                    {{ data.total | currency_format }}
                </el-col>
            </el-row>
            <el-row type="flex" justify="end" class="margin-bottom-20">
                <el-button type="primary" size="small" @click="onSubmit">Simpan Pembelian</el-button>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { getDetail, updateDetail } from '../../model/purchasedetail';
import { getItem } from '../../model/item';

export default {

    computed: {
        isProcessing() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        }
    },
    methods: {
        update(back = false) {
            updateDetail(`${this.$store.getters.purchaseDetailUrl(this.$route.params.purchaseDetailId)}`, this.$store.state.auth.token, this.data).then((response) => {
                this.$store.commit('processed');
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                this.$store.dispatch('refreshPurchase', this.$route.params.purchaseId)
                .then((response) => {
                    this.$store.commit('setPurchaseMeta', response.data);
                    this.$store.dispatch('refreshProject', this.$route.params.id);
                });

                if (back === true) {
                    this.$router.go(-1);
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        onItemSelected(event, detail) {
            detail.purchase_price = this.items.find((item) => item.id === event).purchase_price;
            detail.total = detail.purchase_price * detail.qty;
        },
        onQtyChanged(detail) {
            detail.total = detail.purchase_price * detail.qty;
        },
        onSubmit() {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            this.update(true);
        }
    },
    data() {
        return {
            permissions: [],
            title: 'Edit Entry Pembelian',
            data: {
                item_id: 0,
                qty: 1,
                purchase_price: 0,
                total: 0
            },
            items: []
        }
    },
    
    mounted() {
        this.$nextTick(() => {
            getItem(`${this.$store.getters.itemUrl}?all=true&in_purchase_entry=false&purchase_id=${this.$route.params.purchaseId}`, this.$store.state.auth.token).then((response) => {
                    this.items.push(...response.data);
                }).catch((error) => {
                    this.errorMessage(error);
                })

            getDetail(`${this.$store.getters.purchaseDetailUrl(this.$route.params.purchaseDetailId)}`, this.$store.state.auth.token)
            .then((response) => {
                
                this.fillForm(this.data, response.data);

                this.items.push(response.data.item.data);

                this.data.total = response.data.total_purchase_price;
                this.data.purchase_price = response.data.item.data.purchase_price;

            });
        })
    }
}
</script>

<style lang="css" scoped>
.detail-item {
    border-bottom: 1px solid rgba(222, 222, 222, .3);
}

.detail-item:last-child {
    border: none;
}
</style>