<template>
    <div>
        <el-row>
            
            <el-row type="flex" align="middle" class="space-bottom-15">
                <el-col :span="4">
                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="pageTo('admin.project.purchase.create')">Buat Pembelian</el-button>
                </el-col>
                <el-col :span="3" :offset="4">
                    <label style="display: inline-block" for="">Jumlah Tampil </label>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="meta.show">
                        <el-option v-for="(data, key) in dataShow" :key="key" :label="data" :value="data"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="6" :offset="6">
                    <form @submit.prevent="getPurchases">
                        <el-input type="text" placeholder="Cari pembelian...." v-model="meta.s" suffix-icon="el-icon-search"></el-input>
                    </form>
                </el-col>
            </el-row>

            <el-table
                :data="purchases"
                v-loading="loading"
                stripe
                border
                :cell-style="styles"
            >
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="No Pembelian" prop="purchase_no" sortable></el-table-column>
                <el-table-column label="Tanggal" prop="date" sortable></el-table-column>
                <el-table-column label="Total" prop="total_format"></el-table-column>
                <el-table-column label="Total Dibayar" prop="total_paid_format"></el-table-column>
                <el-table-column label="Sisa Saldo" prop="remain_balance_format"></el-table-column>
                <el-table-column label="Status" prop="status">
                    <template slot-scope="scope">
                        <el-badge v-if="scope.row.status == 0" type="info" :value="scope.row.status_text" class="item"></el-badge>
                        <el-badge v-if="scope.row.status == 1" type="primary" :value="scope.row.status_text" class="item"></el-badge>
                        <el-badge v-if="scope.row.status == 2" type="success" :value="scope.row.status_text" class="item"></el-badge>
                    </template>
                </el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-tooltip v-if="hasPermission('show purchase') && meta.trashed === 0" effect="dark" content="Lihat Detail" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-document" @click="onAction(scope.row, 'show detail')"></el-button>
                            </el-tooltip>
                            <el-tooltip v-if="meta.trashed === 1 && hasPermission('restore purchase')" effect="dark" content="Restore" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-refresh-left" @click="onAction(scope.row, 'restore')"></el-button>
                            </el-tooltip>
                            <el-tooltip v-if="hasPermission('force-delete purchase')" effect="dark" content="Delete" placement="bottom">
                                <el-button type="danger" size="small" icon="el-icon-delete" @click="onAction(scope.row, 'delete')"></el-button>
                            </el-tooltip>
                        </el-button-group>
                    </template>
                </el-table-column>
            </el-table>
            <el-row type="flex" justify="end" class="space-arround-25">
                <el-pagination
                    layout="prev, pager, next"
                    :total="meta.pagination.total"
                    :page-size="meta.pagination.per_page"
                    :current-page="meta.pagination.current_page"
                    @current-change="onPageChanged">
                </el-pagination>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { getPurchase, deletePurchase, restorePurchase } from '../../model/purchase';

export default {
    data() {
        return {
            purchases: [],
            styles: {
                textDecoration: ''
            },
            meta: {
                s: '',
                show: 10,
                page: 1,
                trashed: 0,
                pagination: {
                    total: 1,
                    total_pages: 1,
                    current_page: 1
                }
            },
            trashCount: 0,
            total: 0
        }
    },
    methods: {
        onPageChanged(page) {
            this.meta.page = page;
            this.getPurchases();
        },
        showAll() {
            this.meta.trashed = 0;
            this.getPurchases();
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getPurchases();
            }
        },
        onAction(data, action) {
            
            if (action === 'delete') {
                if (this.meta.trashed === 0) {
                    this.delete(data);
                } else {
                    this.forceDelete(data);
                }
            } else if(action === 'show detail') {
                this.pageTo('admin.project.purchase.detail.index', { purchaseId: data.id });
            } else if(action === 'force delete') {
                this.forceDelete(data);
            } else {
                this.restore(data);
            }
        },
        showAll() {
            this.meta.trashed = 0;
            this.getPurchases();
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getPurchases();
            }
        },
        restore({ id }) {
            this.confirmBox('Restore data pembelian ini?')
            .then(() => {
                restorePurchase(`${this.$store.getters.purchaseUrl(id)}/restore`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.project = {}
                    this.getPurchases();

                    this.setDelay(150).then(() => {
                        this.$store.dispatch('refreshProject', this.$route.params.id);
                    });
                })
                .catch((error) => {
                    this.errorMessage(error)
                });
            })
        },
        delete({ id }) {
            this.confirmBox('Data pembelian beserta detail pembelian akan dipindahkan ke dalam sampah, lanjutkan?')
            .then((response) => {
                deletePurchase((this.$store.getters.purchaseUrl(id)), this.$store.state.auth.token)
                .then((response) => {
                    this.setDelay(300).then(() => {
                        this.$message({
                            message: response.message,
                            type: 'success'
                        });

                    });

                    this.getPurchases();

                    this.setDelay(150).then(() => {
                        this.$store.dispatch('refreshProject', this.$route.params.id);
                    });
                })
                .catch((error) => {
                    this.errorMessage(error);
                });
            })
        },
        forceDelete({ id }) {
            this.confirmBox('Data ini akan dihapus secara permanent, lanjutkan?').then(() => {
                deletePurchase(`${this.$store.getters.purchaseUrl(id)}/force-delete`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.project = {};
                    this.getPurchases();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        getPurchases() {
            this.$store.commit('loading');
            getPurchase(`${this.$store.getters.projectPurchaseUrl(this.$route.params.id)}?q=${this.meta.s}&perpage=${this.meta.show}&trashed=${this.meta.trashed}`, this.$store.state.auth.token)
            .then((response) => {
                if (this.purchases.length !== 0) {
                    this.purchases = [];
                }
                this.$store.commit('loaded');
                this.purchases.push(...response.data);
                
                if (this.meta.trashed === 0) {
                    this.total = response.meta.pagination.total;
                }
                this.trashCount = response.meta.trash_count;
            });
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getPurchases();
            }
        },
        clearTrash() {
            this.confirmBox('Hapus semua sampah?').then(() => {
                deletePurchase(`${this.$store.getters.purchaseClearTrashUrl}`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.getPurchases();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
    },
    watch: {
        'meta.show': {
            handler() {
                this.getPurchases();
            },
            deep: true
        },
        'meta.trashed': {
            handler(val) {
                if (val === 1) {
                    this.styles.textDecoration = 'line-through'
                } else {
                    this.styles.textDecoration = '';
                }
            }
        }
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.getPurchases();
        });
    }
}
</script>