<template>
    <el-tabs v-model="tab" type="card">
        <el-tab-pane label="List Pembelian">
            <purchase-list></purchase-list>
        </el-tab-pane>
        <el-tab-pane label="List Pembayaran Customer">
            <payment-list></payment-list>
        </el-tab-pane>
    </el-tabs>
</template>

<script>
import PurchaseList from '../../../components/project/PurchaseList.vue';
import PaymentList from '../../../components/project/PaymentList.vue';

export default {
    components: {
        PurchaseList,
        PaymentList
    },
    data() {
        return {
            tab: 0
        }
    }  
}
</script>