<template>
    <el-col span="24">
        <el-alert
            :title="`Selamat datang ${auth.loggedinUser.name} di Sistem Informasi Eksekutif`"
            type="success"
            effect="dark"
            :closable="false" />
    </el-col>
</template>

<script>
import { mapState } from 'vuex';

export default {
    computed: {
        ...mapState(['auth'])
    }
}
</script>