<template>
    <div class="main-wrapper">
        <el-row type="flex" align="middle" justify="center" :gutter="15">
            <el-col :span="12">
                <h2>Grafik Pemasukan dan Pengeluaran</h2>
            </el-col>
            <el-col :span="2">
                <label for="">Tahun </label>
            </el-col>
            <el-col :span="4">
                <el-select v-model="currentYear">
                    <el-option v-for="(year, index) in years" :key="index" :label="year.toString()" :value="year"></el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col :span="18">
                <div class="chart-data">
                    <transition name="fade">
                        <line-chart title="Income/Outcome Report" :data="chartData" v-if="!isLoading"></line-chart>
                        <div v-if="isLoading" v-loading="true"></div>
                    </transition>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import LineChart from '../charts/Line';
export default {

    components: {
        LineChart
    },

    data() {
        return {
            currentYear: 2019,
            years: [],
            chartData: {
                labels: ['January','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','Nopember','Desember'],
                datasets: [
                    {
                        label: 'Income',
                        borderColor: 'rgba(62, 181, 240)',
                        pointBorderColor: 'rgba(112, 187, 224, .85)',
                        pointBackgroundColor: 'rgba(62, 181, 240)',
                        pointHoverBorderColor: 'rgba(112, 187, 224, .55)',
                        fill: false,
                        borderWidth: 2,
                        pointRadius: 5,
                        pointHoverBorderWidth: 10,
                        data: []  
                    },
                    {
                        label: 'Outcome',
                        borderColor: 'rgba(219, 88, 90)',
                        pointBorderColor: 'rgba(232, 107, 109, .85)',
                        pointBackgroundColor: 'rgba(219, 88, 90)',
                        pointHoverBorderColor: 'rgba(232, 107, 109, .55)',
                        fill: false,
                        borderWidth: 2,
                        pointRadius: 5,
                        pointHoverBorderWidth: 10,
                        data: []  
                    }
                ]
            },
        }
    },

    methods: {
        generateDummy() {
            let data = [];

            for (let index = 0; index < 12; index++) {
                data[index] = Math.floor(Math.random() * 100)
            }

            return data;
        },

        async getReports(year) {
            this.$store.commit('loading');
            let dashboardReport = await axios.get(`${this.$store.getters.reportUrl('dashboard')}?year=${year}`, {
                headers: {
                    'Authorization': `Bearer ${this.$store.state.auth.token}`
                }
            });
            

            return { reportData: dashboardReport.data.report };
        },

        getReportData(year) {
            this.$store.commit('loading')
            this.getReports(year).then((response) => {
                
                
                this.dataOrdering(response.reportData.income, this.chartData.datasets[0]);

                this.dataOrdering(response.reportData.outcome, this.chartData.datasets[1]);
                
                if (this.years.length > 0) {
                    this.years = [];
                }
                this.years.push(...Object.values(response.reportData.years));
                
                this.$store.commit('loaded');
                
            });
        },

        dataOrdering(data, to) {
            let report = data;
            
            let totals = report.filter((item) => item.year == this.currentYear).map((item) => {
                return parseInt(item.total);
            });
            
            let months = report.filter((item) => item.year == this.currentYear).map((item) => {
                return parseInt(item.month);
            });
            

            

            if (months[0] > 1) {
                let diff = Math.abs(1-months[0]);
                let adds = [];

                for (let index = 0; index < diff; index++) {
                    adds.push(0);
                }

                if (adds.length > 0) {
                    totals = adds.concat(totals);
                }
            }

            if (months[months.length-1] < 12) {
                let diff = Math.abs(months[months.length-1] - 12);
                let adds = [];

                for (let index = 0; index < diff; index++) {
                    adds.push(0);
                }

                if (adds.length > 0) {
                    totals = totals.concat(adds);
                }
            }

            to.data.push(...totals);
        }
    },

    computed: {
        isLoading(){
            return this.$store.state.loadingState
        }
    },

    watch: {
        currentYear: function(val) {
            this.chartData.datasets[0].data = [];
            this.chartData.datasets[1].data = [];
            this.getReportData(val);
        }
    },
    
    mounted() {
        this.$nextTick(() => {
            this.currentYear = new Date().getFullYear() - 1;
            this.getReportData(this.currentYear);
        })
    }

}
</script>

<style lang="css" scoped>
.chart-data {
    padding: 10px;
    max-height: 450px;
}

.main-wrapper {
    min-height: 400px;
    width: 100%;
}
</style>