<template>
    <el-col :span="24">
        <el-row type="flex" :gutter="15">
            <el-col :span="6">
                <el-card header="Total Barang" shadow="hover">
                    <div class="card-body">
                        <skeleton :text="totalItems"></skeleton> <i class="el-icon-document-copy"></i>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="6">
                <el-card header="Total Customer" shadow="hover">
                    <div class="card-body">
                        <skeleton :text="totalCustomer"></skeleton> <i class="el-icon-s-custom"></i>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="6">
                <el-card header="Total Supplier" shadow="hover">
                    <div class="card-body">
                        <skeleton :text="totalSupplier"></skeleton> <i class="el-icon-user-solid"></i>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="6">
                <el-card header="Total Proyek" shadow="hover">
                    <div class="card-body">
                        <skeleton :text="totalProjects"></skeleton> <i class="el-icon-tickets"></i>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </el-col>
</template>

<script>

import Skeleton from '../Skeleton.vue';

export default {
    components: {
        Skeleton
    },
    data() {
        return {
            totalItems: '',
            totalCustomer: '',
            totalSupplier: '',
            totalProjects: ''
        }
    },
    mounted() {
        this.$nextTick(() => {
            axios.get(this.$store.getters.reportTotalUrl, {
                headers: this.$store.getters.authHeader
            })
            .then((response) => {
                let { total_items, total_customer, total_supplier, total_project } = response.data.data;

                this.totalItems = total_items.toString();
                this.totalCustomer = total_customer.toString();
                this.totalSupplier = total_supplier.toString();
                this.totalProjects = total_project.toString();
            })
        });
    }    
}
</script>

<style lang="css" scoped>
.card-body i {
    font-size: 2.5rem;
    margin-left: auto;
}

.card-body {
    display: flex;
    align-items: center;
}

.card-body .skeleton.text {
    font-size: 1.5rem;
    font-weight: bold;
}
</style>