<template>
    <div>
        <h2>{{ title }}</h2>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="space-bottom-25">
            <el-breadcrumb-item :to="{ name: 'admin.customer' }">List Customer</el-breadcrumb-item>
            <el-breadcrumb-item>{{ title }}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="form-wrapper space-arround-25" style="width: 600px">
            <el-form v-model="form">
                <el-row :gutter="15">
                    <el-col :span="12">
                        <el-form-item label="Nama Customer" :error="(errors.name) ? errors.name[0] : null">
                            <el-input type="text" ref="name" :autofocus="true" v-model="form.name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Email Customer" :error="(errors.email) ? errors.email[0] : null"><br>
                            <el-input type="email" v-model="form.email"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="12">
                        <el-form-item label="Contact Person" :error="(errors.contact_person) ? errors.contact_person[0] : null">
                            <el-input type="text" v-model="form.contact_person"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Telepon Customer" :error="(errors.phone) ? errors.phone[0] : null"><br>
                            <el-input v-model="form.phone" type="text"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="24">
                        <el-form-item label="Alamat Customer" :error="(errors.address) ? errors.address[0] : null">
                            <el-input v-model="form.address" type="textarea"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15" type="flex" justify="end">
                    <el-button type="default" size="small" :loading="isProcessing" @click="onSubmit(true)">Simpan & Kembali</el-button>
                    <el-button type="primary" size="small" :loading="isProcessing" native-type="submit" @click.prevent="onSubmit">Simpan</el-button>
                </el-row>
                
            </el-form>
        </el-row>
    </div>
</template>

<script>
import { createCustomer, getCustomer, updateCustomer } from '../../model/customer';

export default {
    props: {
        action: {
            type: String,
            default: ''
        }
    },
    computed: {
        isProcessing() {
            return this.$store.state.buttonState;
        },
        errors() {
            return this.$store.state.errors;
        }
    },
    methods: {
        create(back = false) {
            createCustomer(this.$store.getters.customerUrl, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.clearForm(this.form);
                this.setFocus(this.$refs.name);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.customer');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        update(back = false) {
            updateCustomer(`${this.$store.getters.customerUrl}/${this.$route.params.id}`, this.$store.state.auth.token, this.form).then((response) => {
                this.$store.commit('processed');
                this.setFocus(this.$refs.name);
                
                this.setDelay(300).then(() => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    })
                });

                if (back === true) {
                    this.pageTo('admin.customer');
                }

            }).catch((error) => {
                this.$store.commit('processed')
                
                if (error.response.status === 422) {
                    this.$store.commit('fillError', error.response.data.errors);
                }

                this.$message({
                    message: error.response.data.message,
                    type: 'error'
                })
            });
        },
        onSubmit(back = false) {
            this.$store.commit('processing');
            this.$store.commit('clearError');

            if (this.action === 'edit') {
                this.update(back);
            } else {
                this.create(back);
            }
        }
    },
    data() {
        return {
            permissions: [],
            title: 'Create Customer',
            form: {
                name: '',
                email: '',
                phone: '',
                contact_person: '',
                address: ''
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.$store.commit('changePageTitle', 'Customer');
            this.setFocus(this.$refs.name);

            if (this.action === 'edit') {
                this.title = 'Edit Customer';
                getCustomer(`${this.$store.getters.customerUrl}/${this.$route.params.id}`, this.$store.state.auth.token)
                .then((response) => {
                    
                    this.form = response.data;
                    this.form.permission_ids = response.data.permissions.data.map((item) => item.id);
                });
            }
        })
    }
}
</script>