<template>
    <div>
        <el-row>
            
            <el-row type="flex" align="middle" class="space-bottom-15">
                <el-col :span="4">
                    <el-button v-if="remainPayment > 0" type="primary" icon="el-icon-circle-plus-outline" @click="pageTo('admin.project.purchase.detail.payment.create')">Buat Pembayaran</el-button>
                </el-col>
                <el-col :span="3" :offset="4">
                    <label style="display: inline-block" for="">Jumlah Tampil </label>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="meta.show">
                        <el-option v-for="(data, key) in dataShow" :key="key" :label="data" :value="data"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="6" :offset="6">
                    <form @submit.prevent="getPayments">
                        <el-input type="text" placeholder="Cari pembayaran...." v-model="meta.s" suffix-icon="el-icon-search"></el-input>
                    </form>
                </el-col>
            </el-row>

            <el-table
                :data="payments"
                v-loading="loading"
                stripe
                border
                :cell-style="styles"
            >
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="No Pembayaran" prop="payment_no" sortable></el-table-column>
                <el-table-column label="Tanggal" prop="date_format" sortable></el-table-column>
                <el-table-column label="Total" prop="total_format" sortable></el-table-column>
                <el-table-column label="Action" v-if="hasPermission('update payment') || hasPermission('delete payment')">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-tooltip v-if="canRestore(scope.row)" effect="dark" content="Restore" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-refresh-left" @click="onAction(scope.row, 'restore')"></el-button>
                            </el-tooltip>
                            <el-tooltip v-if="meta.trashed === 0 && hasPermission('update payment')" effect="dark" content="Edit" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-edit" @click="onAction(scope.row, 'edit')"></el-button>
                            </el-tooltip>
                            <el-tooltip v-if="hasPermission('delete payment')" effect="dark" content="Delete" placement="bottom">
                                <el-button type="danger" size="small" icon="el-icon-delete" @click="onAction(scope.row, 'delete')"></el-button>
                            </el-tooltip>
                        </el-button-group>
                    </template>
                </el-table-column>
            </el-table>
            <el-row type="flex" justify="end" class="space-arround-25">
                <el-pagination
                    layout="prev, pager, next"
                    :total="meta.pagination.total"
                    :page-size="meta.pagination.per_page"
                    :current-page="meta.pagination.current_page"
                    @current-change="onPageChanged">
                </el-pagination>
            </el-row>
        </el-row>
    </div>
</template>

<script>
import { getPayment, deletePayment, restorePayment } from '../../model/payment';

export default {
    data() {
        return {
            payments: [],
            styles: {
                textDecoration: ''
            },
            payment: {},
            meta: {
                s: '',
                show: 10,
                page: 1,
                trashed: 0,
                pagination: {
                    total: 1,
                    total_pages: 1,
                    current_page: 1
                }
            },
            trashCount: 0,
            total: 0
        }
    },
    watch: {
        'meta.trashed': {
            handler(val) {
                if (val === 1) {
                    this.styles.textDecoration = 'line-through'
                } else {
                    this.styles.textDecoration = '';
                }
            },
            deep: true
        }
    },
    methods: {
        onPageChanged(page) {
            this.meta.page = page;
            this.getPayments();
        },
        showAll() {
            this.meta.trashed = 0;
            this.getPayments();
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getPayments();
            }
        },
        restore() {
            this.confirmBox('Restore pembayaran ini?')
            .then(() => {
                restorePayment(`${this.$store.getters.purchasePaymentUrl(this.payment.id)}/restore`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.payment = {};

                    this.getPayments();

                    this.setDelay(150).then(() => {
                        this.$store.dispatch('refreshPurchase', this.$route.params.purchaseId).then((response) => {
                            this.$store.commit('setPurchaseMeta', response.data);
                            this.$store.dispatch('refreshProject', this.project.id);
                        });
                    });
                })
                .catch((error) => {
                    this.errorMessage(error)
                });
            })
        },
        delete() {
            this.confirmBox().then(() => {
                deletePayment(`${this.$store.getters.purchasePaymentUrl(this.payment.id)}`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });

                    this.payment = {};
                    this.getPayments();

                    this.setDelay(150).then(() => {
                        this.$store.dispatch('refreshPurchase', this.$route.params.purchaseId).then((response) => {
                            this.$store.commit('setPurchaseMeta', response.data);
                            this.$store.dispatch('refreshProject', this.project.id);
                        });
                    });
                })
                .catch((error) => {
                    this.payment = {};
                    this.errorMessage(error);
                })
            })
        },
        forceDelete() {
            this.confirmBox('Data pembayaran ini akan dihapus secara permanent, lanjutkan?').then(() => {
                deletePayment(`${this.$store.getters.purchasePaymentUrl(this.payment.id)}/force-delete`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.payment = {};
                    this.getPayments();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        getPayments() {
            this.$store.commit('loading');
            getPayment(`${this.$store.getters.purchasePurchasePaymentUrl(this.$route.params.purchaseId)}?q=${this.meta.s}&perpage=${this.meta.show}&trashed=${this.meta.trashed}`, this.$store.state.auth.token)
            .then((response) => {
                if (this.payments.length !== 0) {
                    this.payments = [];
                }

                if (this.meta.trashed === 0) {
                    this.total = response.meta.pagination.total
                }

                this.$store.commit('loaded');
                this.payments.push(...response.data);
                this.trashCount = response.meta.trash_count;
            });
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getPayments();
            }
        },
        clearTrash() {
            this.confirmBox('Hapus semua sampah?').then(() => {
                deletePayment(`${this.$store.getters.purchasePaymentClearTrashUrl}`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.getPayments();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        canRestore({ total }) {
            if (this.meta.trashed === 1 && this.$store.state.meta.purchase.payment_status != 2) {
                const remain = this.$store.state.meta.purchase.total_cost - this.$store.state.meta.purchase.total_paid;
                if (total <= remain) {
                    return true;
                }

                return false;
            }

            return false;
        },
        onAction(data, action) {
            this.payment = data;

            if (action === 'delete') {
                if (this.meta.trashed === 0) {
                    this.delete();
                } else {
                    this.forceDelete();
                }
            } else if(action === 'restore') {
                this.restore();
            } else if(action === 'edit') {
                this.pageTo('admin.project.purchase.detail.payment.edit', { purchasePaymentId: this.payment.id });
            }
        },
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        },
        remainPayment() {
            return this.$store.state.meta.purchase.total - this.$store.state.meta.purchase.total_paid;
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.getPayments();
        });
    }
}
</script>