<template>
    <div>
        <el-row>
            
            <el-row type="flex" align="middle" class="space-bottom-15">
                
                <el-col :span="4">
                    <el-button v-if="remainBalance > 0" type="primary" icon="el-icon-circle-plus-outline" @click="pageTo('admin.project.purchase.detail.create')">Buat Entry Baru</el-button>
                </el-col>
                <el-col :span="3" :offset="4">
                    <label style="display: inline-block" for="">Jumlah Tampil </label>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="meta.show">
                        <el-option v-for="(data, key) in dataShow" :key="key" :label="data" :value="data"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="6" :offset="6">
                    <form @submit.prevent="getPurchases">
                        <el-input type="text" placeholder="Cari pembelian...." v-model="meta.s" suffix-icon="el-icon-search"></el-input>
                    </form>
                </el-col>
            </el-row>

            <el-table
                :data="details"
                v-loading="loading"
                stripe
                border
                :cell-style="styles"
            >
                <el-table-column type="index" label="#"></el-table-column>
                <el-table-column label="Nama Barang" prop="item.data.name" sortable></el-table-column>
                <el-table-column label="Harga" prop="item.data.format_purchase_price" sortable></el-table-column>
                <el-table-column label="QTY" prop="qty"></el-table-column>
                <el-table-column label="Satuan" prop="item.data.qty_type"></el-table-column>
                <el-table-column label="Total" prop="total_purchase_price_format"></el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-tooltip v-if="meta.trashed === 1 && hasPermission('restore purchase')" effect="dark" content="Restore" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-refresh-left" @click="onAction(scope.row, 'restore')"></el-button>
                            </el-tooltip>
                            <el-tooltip v-if="meta.trashed === 0 && hasPermission('update purchase')" effect="dark" content="Edit" placement="bottom">
                                <el-button type="default" size="small" icon="el-icon-edit" @click="onAction(scope.row, 'edit')"></el-button>
                            </el-tooltip>
                            <el-tooltip v-if="hasPermission('force-delete purchase')" effect="dark" content="Delete" placement="bottom">
                                <el-button type="danger" size="small" icon="el-icon-delete" @click="onAction(scope.row, 'delete')"></el-button>
                            </el-tooltip>
                        </el-button-group>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
    </div>
</template>

<script>
import { deleteDetail, restoreDetail, getDetail } from '../../model/purchasedetail';

export default {
    data() {
        return {
            details: [],
            styles: {
                textDecoration: ''
            },
            meta: {
                s: '',
                show: 10,
                page: 1,
                trashed: 0
            },
            trashCount: 0,
            total: 0
        }
    },
    methods: {
        showAll() {
            this.meta.trashed = 0;
            this.getPurchaseDetail();
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getPurchaseDetail();
            }
        },
        onAction(data, action) {
            
            if (action === 'delete') {
                if (this.meta.trashed === 0) {
                    this.delete(data);
                } else {
                    this.forceDelete(data);
                }
            } else if(action === 'show detail') {
                this.pageTo('admin.project.purchase.detail.index');
            } else if(action === 'edit') {
                this.pageTo('admin.project.purchase.detail.edit', { purchaseDetailId: data.id });
            } else if(action === 'restore') {
                this.restore(data);
            }
        },
        restore({ id }) {
            this.confirmBox('Restore entry ini?')
            .then(() => {
                restoreDetail(`${this.$store.getters.purchaseDetailUrl(id)}/restore`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });

                    this.getPurchaseDetail();
                    this.$store.dispatch('refreshPurchase', this.$route.params.purchaseId)
                    .then((response) => {
                        this.$store.commit('setPurchaseMeta', response.data);
                        this.$store.dispatch('refreshProject', this.$route.params.id);
                    });
                })
                .catch((error) => {
                    this.errorMessage(error)
                });
            })
        },
        delete({ id }) {
            this.confirmBox().then(() => {
                deleteDetail(`${this.$store.getters.purchaseDetailUrl(id)}`, this.$store.state.auth.token)
                .then((response) => {
                    
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });

                    this.getPurchaseDetail();
                    this.$store.dispatch('refreshPurchase', this.$route.params.purchaseId)
                    .then((response) => {
                        this.$store.commit('setPurchaseMeta', response.data);
                        this.$store.dispatch('refreshProject', this.$route.params.id);
                    });
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        forceDelete({ id }) {
            this.confirmBox('Data ini akan dihapus secara permanent, lanjutkan?').then(() => {
                deleteDetail(`${this.$store.getters.purchaseDetailUrl(id)}/force-delete`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });

                    this.getPurchaseDetail();
                    this.$store.dispatch('refreshPurchase', this.$route.params.purchaseId)
                    .then((response) => {
                        this.$store.commit('setPurchaseMeta', response.data);
                        this.$store.dispatch('refreshProject', this.$route.params.id);
                    });
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        showTrash(event) {
            if (this.meta.trashed === 0) {
                this.meta.trashed = 1;
                this.getPurchaseDetail();
            }
        },
        clearTrash() {
            this.confirmBox('Hapus semua sampah?').then(() => {
                deleteDetail(`${this.$store.getters.purchaseDetailClearTrashUrl}`, this.$store.state.auth.token)
                .then((response) => {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                    this.getPurchaseDetail();
                })
                .catch((error) => {
                    this.errorMessage(error);
                })
            })
        },
        getPurchaseDetail() {
            this.$store.commit('loading');

            getDetail(`${this.$store.getters.purchasePurchaseDetailUrl(this.$route.params.purchaseId)}?q=${this.meta.s}&perpage=${this.meta.show}&trashed=${this.meta.trashed}`, this.$store.state.auth.token)
            .then((response) => {
                this.details = [];
                this.details.push(...response.data);
                
                if (this.meta.trashed === 0) {
                    this.total = response.meta.pagination.total;
                    
                }
                this.trashCount = response.meta.trash_count;

                this.$store.commit('loaded');
            })
        }
    },
    watch: {
        'meta.show': {
            handler() {
                this.getPurchaseDetail();
            },
            deep: true
        },
        'meta.trashed': {
            handler(val) {
                if (val === 1) {
                    this.styles.textDecoration = 'line-through'
                } else {
                    this.styles.textDecoration = '';
                }
            }
        }
    },
    computed: {
        loading() {
            return this.$store.state.loadingState;
        },
        dataShow() {
            return this.$store.state.dataShow;
        },
        remainBalance() {
            return this.$store.state.meta.purchase.remain_balance;
        }

    },
    mounted() {
        this.$nextTick(() => {
            this.getPurchaseDetail();
        });
    }
}
</script>